#triangle
{
	.left(@width, @height, @color,@display:block)
	{
		display      : @display;
		border       : @height solid transparent;
		border-right : @width solid @color;
		width        : 0;
		height       : 0;
	}
	.right(@width, @height, @color,@display:block)
	{
		display     : @display;
		border      : @height solid transparent;
		border-left : @width solid @color;
		width       : 0;
		height      : 0;
	}
	.up(@width, @height, @color,@display:block)
	{
		display       : @display;
		border        : @height solid transparent;
		border-bottom : @width solid @color;
		width         : 0;
		height        : 0;
	}
	.down(@width, @height, @color,@display:block)
	{
		display    : @display;
		border     : @height solid transparent;
		border-top : @width solid @color;
		width      : 0;
		height     : 0;
	}
}


.prefixr(@property, @value)
{
	@webkit 	: ~'-webkit-@{property}';// Webkit based browsers (Safari, Chromium)
	@firefox 	: ~'-moz-@{property}';// Mozilla Firefox
	@opera 		: ~'-o-@{property}';// Opera

	@{webkit} 	: 	@value;
	@{firefox} 	: 	@value;
	@{opera} 	: 	@value;
	@{property} : 	@value;
}

// Box sizing
.box-sizing(@boxmodel:border-box) {
	.prefixr(box-sizing,@boxmodel)
}

.inline-block()
{
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;*zoom: 1;
}

/* fonts include mixin */
.font-include(@ns, @path)
{
	@font-face {
		font-family: ~'@{ns}';
		src: url(~'@{path}.eot');
		src: url(~'@{path}.eot?#iefix') format('embedded-opentype'), url(~'@{path}.woff') format('woff'), url(~'@{path}.ttf') format('truetype'), url(~'@{path}.svg#@{ns}') format('svg'); font-weight: bold;
		font-style: normal;
	}
}

// cross browsing rgba background
.rgba(@colour, @alpha)
{
    @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
    @ieAlphaColour: argb(@alphaColour);

    background-color: @colour; // Fallback for older browsers
    background-color: @alphaColour;

    // IE hacks
    zoom: 1; // hasLayout
    background-color: transparent\9;
    -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 8+
        filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 6 & 7

}

// Responsive image
.img-responsive(@display: block)
{
	display: @display;
	max-width: 100%; // Part 1: Set a maximum relative to the parent
	height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching

	&__height
	{
		display: @display;
		max-height: 100%;
		height: auto;
		&.centered
		{
			margin: 0 auto;
		}
	}
	&.centered
	{
		margin: 0 auto;
	}
}


.base64DataUriBackground (@encode, @type: ~"image/svg+xml") {
	@dataUriPrefix: ~"url(data:@{type};base64,";
	@dataUriSuffix: ~")";

	// without
	@b64DataUri: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('@{dataUriPrefix}','@{encode}','@{dataUriSuffix}')`;

	background: @b64DataUri;
}
.gradient (@gradient-top, @gradient-bottom) {
	@svg: ~'<?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" stop-color="@{gradient-top}" stop-opacity="1"/><stop offset="100%" stop-color="@{gradient-bottom}" stop-opacity="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#grad-ucgg-generated)" /></svg>';
	.base64DataUriBackground(@svg);
	background: linear-gradient(to bottom, @gradient-top 0%,@gradient-bottom 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{gradient-top}', endColorstr='@{gradient-bottom}',GradientType=0 )";
}
.gradient-full (@gradient-top, @gradient-bottom) {
	@svg: ~'<?xml version="1.0" ?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none"><linearGradient id="grad-ucgg-generated" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%"><stop offset="0%" stop-color="@{gradient-top}" stop-opacity="1"/><stop offset="100%" stop-color="@{gradient-bottom}" stop-opacity="1"/></linearGradient><rect x="0" y="0" width="1" height="1" fill="url(#grad-ucgg-generated)" /></svg>';

	.base64DataUriBackground(@svg);
	background: -moz-linear-gradient(top, @gradient-top 0%, @gradient-bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gradient-top), color-stop(100%,@gradient-bottom));
	background: -webkit-linear-gradient(top, @gradient-top 0%,@gradient-bottom 100%);
	background: -o-linear-gradient(top, @gradient-top 0%,@gradient-bottom 100%);
	background: -ms-linear-gradient(top, @gradient-top 0%,@gradient-bottom 100%);
	background: linear-gradient(to bottom, @gradient-top 0%,@gradient-bottom 100%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{gradient-top}', endColorstr='@{gradient-bottom}',GradientType=0 )";
}



.margin-tree(@_index,@property) when (@_index>0)
{
	.@{property}__@{_index}0
	{
		@{property}: ~'@{_index}0px';
	}

	.margin-tree((@_index - 1),@property);
}

.margin-tree(10,margin-top);
