@container-large-width: 1200px;
@container-width: 960px;
@images_path: '../i/bg/';
@brand-gray: #E7E5E6;
@brand-darkgray: #717171;

// BOOTSTRAP variables
@container-large-desktop: (1170px + @grid-gutter-width);
@border-radius-base: 0;
@border-radius-large: @border-radius-base;
@border-radius-small: @border-radius-base;
@icon-font-path: '../fonts/bootstrap';

@brand-primary: #E0A77C;
@brand-success: #5CB85C;
@brand-info: #5BC0DE;
@brand-warning: #F0AD4E;
@brand-danger: #E3747A;


// Breadcrumbs
//
//##
@breadcrumb-padding-vertical: 0;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg: transparent;
//** Breadcrumb text color
@breadcrumb-color: #898989;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color: #888;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator: "/";

// PAGINATION component
@pagination-active-bg: #E0A77C;
@pagination-active-color: #FFF;
@pagination-hover-bg: #E0A77C;
@pagination-hover-color: #FFF;
@pagination-color: @brand-darkgray;

//** Global textual link color.
@link-color: #707070;
//** Link hover color
@link-hover-color: @brand-primary;

// BLOCKQUOUTE component
@blockquote-border-color: @brand-primary;

/* Font Awesome variables */
@fa-font-path: '../fonts/fontawesome';
