<div class="b-page-component">
	<h2 class="b-heading b-heading__lines">
		<span>Распродажа</span>
	</h2>
	<div class="row b-products b-products__grid">
		//= ./section/_product_with_price.html
		//= ./section/_product_with_price.html
	</div>
</div>
