<div class="b-viewed_history">
	<strong class="b-viewed_history-title">Вы смотрели:</strong>
	<ul class="b-viewed_history-list">
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_1.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_2.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_1.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_2.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_1.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_2.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_1.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_2.jpg" alt=""/>
			</a>
		</li>
		<li class="b-viewed_history-item">
			<a href="#">
				<img class="img-responsive" src="i/src/small_1.jpg" alt=""/>
			</a>
		</li>
	</ul>
</div>
