<section class="b-comments">
	<h2 class="b-heading b-heading__lines">
		<span>Комментарии</span>
	</h2>
	<header class="b-comments-top_bar">
		<span class="b-comments-count">4 комментария</span>
		(
		<a href="auth-popup.html" class="js-ajax_modal__call text-primary a-link-reverse">оставить комментарий</a>
		)
	</header>
	<article class="b-comments-item">
		<header>
			<i class="fa fa-user text-primary"></i>
			<strong class="b-comments-item-author">Елена</strong>
			<time class="b-comments-item-date">09.04.2015 | 14:45</time>
		</header>
		<p class="b-comments-item-body">
			Купила вашу шубу в магазине при фабрике три года назад, и два года назад муж подарил шубу другого
			производителя, ваша шуба до сих пор вся блестящая, пушистая, а шуба другого производителя уже местами
			облезла,хотя новее,честно сказать даже не думала,что так удачно куплю шубу у вас, за следующей поеду только
			к вам! Большое спасибо!
		</p>
	</article>
	<article class="b-comments-item">
		<header>
			<i class="fa fa-user text-primary"></i>
			<strong class="b-comments-item-author">Елена</strong>
			<time class="b-comments-item-date">09.04.2015 | 14:45</time>
		</header>
		<p class="b-comments-item-body">
			Купила вашу шубу в магазине при фабрике три года назад, и два года назад муж подарил шубу другого
			производителя, ваша шуба до сих пор вся блестящая, пушистая, а шуба другого производителя уже местами
			облезла,хотя новее,честно сказать даже не думала,что так удачно куплю шубу у вас, за следующей поеду только
			к вам! Большое спасибо!
		</p>
		<div class="b-comments-item-reply">
			<b class="b-comments-item-author">Ответ магазина</b>
			<p class="b-comments-item-body">
				This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
				sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis
				sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a
				odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent
				taciti sociosqu ad litora torquent per conubia nostra, per
			</p>
		</div>
	</article>
	<article class="b-comments-item">
		<header>
			<i class="fa fa-user text-primary"></i>
			<strong class="b-comments-item-author">Елена</strong>
			<time class="b-comments-item-date">09.04.2015 | 14:45</time>
		</header>
		<p class="b-comments-item-body">
			Купила вашу шубу в магазине при фабрике три года назад, и два года назад муж подарил шубу другого
			производителя, ваша шуба до сих пор вся блестящая, пушистая, а шуба другого производителя уже местами
			облезла,хотя новее,честно сказать даже не думала,что так удачно куплю шубу у вас, за следующей поеду только
			к вам! Большое спасибо!
		</p>
	</article>
	<article class="b-comments-item">
		<header>
			<i class="fa fa-user text-primary"></i>
			<strong class="b-comments-item-author">Елена</strong>
			<time class="b-comments-item-date">09.04.2015 | 14:45</time>
		</header>
		<p class="b-comments-item-body">
			Купила вашу шубу в магазине при фабрике три года назад, и два года назад муж подарил шубу другого
			производителя, ваша шуба до сих пор вся блестящая, пушистая, а шуба другого производителя уже местами
			облезла,хотя новее,честно сказать даже не думала,что так удачно куплю шубу у вас, за следующей поеду только
			к вам! Большое спасибо!
		</p>
	</article>
	<footer class="b-comments-bottom_bar">
		<span class="b-comments-count">4 комментария</span>
		(
		<a href="#product-comment-inner" class="text-primary a-link-reverse">оставить комментарий</a>
		)
	</footer>
	<div id="product-comment-inner">
		//= ./forms/_product-comment.html
	</div>
</section>
