<footer class="b-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a class="b-logotype b-logotype__inverse" href="#">Ester Furs</a>
			</div>
			<div class="col-sm-6 b-nav b-nav__footer">
				<div class="row">
					<ul class="col-sm-4 b-nav-list">
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы оптом</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Отзывы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Вопросы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Детские шубы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Женские шубы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Мужские шубы</a>
						</li>
					</ul>
					<ul class="col-sm-4 b-nav-list">
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы из норки</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы из каракуля</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы из нерпы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы из бобра</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы из лисы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Шубы из соболя</a>
						</li>
					</ul>
					<ul class="col-sm-4 b-nav-list">
						<li class="b-nav-item">
							<a href="#" class="a-link">Меховые жилеты</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Жилеты из лисы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Жилеты из норки</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Жилеты из шиншиллы</a>
						</li>
						<li class="b-nav-item">
							<a href="#" class="a-link">Индивидуальный пошив</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="f-right b-social">
				<b class="title">ESTER FURS в соцсетях</b>
				<ul class="b-social-list">
					<li class="b-social-item">
						<a href="#" class="a-link">
							<i class="fa fa-vk"></i>
						</a>
					</li>
					<li class="b-social-item">
						<a href="#" class="a-link">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
					<li class="b-social-item">
						<a href="#" class="a-link">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li class="b-social-item">
						<a href="#" class="a-link">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="b-social-item">
						<a href="#">
							<i class="b-icon b-icon__odnoklassniki"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
