<header class="b-header clearfix">
	<div class="b-header-toolbar">
		<div class="container">
			<div class="b-header-nav f-right">
				<a class="b-header-nav-item a-link-reverse js-ajax_modal__call" href="auth-popup.html">Вход</a>
				<span>/</span>
				<a class="b-header-nav-item a-link-reverse" href="registration.html">Регистрация</a>
			</div>
		</div>
	</div>
	<section class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="/" class="b-logotype b-logotype__header">Ester Furs</a>
			</div>
			<div class="col-sm-4">
				<form class="b-search b-search__header" action="">
					<input class="b-search-query" type="search" placeholder="Поиск..." name="q" id="search-query"/>
					<button class="b-search-submit">
						<i class="b-icon b-icon__search"></i>
					</button>
				</form>
			</div>
			<div class="col-sm-4 f-right">
				<div class="b-contacts f-right">
					<i class="b-icon b-icon__phone f-left"></i>
					<address class="b-contacts-inner">
						<strong class="b-contacts-item">8 (495) 22-55-888</strong>
						<strong class="b-contacts-item">8 (800) 700-76-08</strong>
						<em class="text-muted b-contacts-text">Звонки по России бесплатно</em>
					</address>
				</div>
			</div>
		</div>
		<nav class="b-nav b-nav__header clearfix">
			<ul class="b-nav-list b-nav-list__horizontal f-left">
				<li class="b-nav-item active">
					<a class="active" href="/index.html">
						<span>Главная</span>
					</a>
				</li>
				<li class="b-nav-item b-nav-item__has_parent">
					<a href="/">
						<span>О компании</span>
					</a>
					<ul class="b-nav-submenu">
						<li class="b-nav-submenu-item">
							<a href="#">Студия</a>
						</li>
						<li class="b-nav-submenu-item">
							<a href="#">Производство</a>
						</li>
						<li class="b-nav-submenu-item b-nav-submenu-item__has_parent">
							<a href="#">Шубы оптом</a>
							<ul class="b-nav-submenu">
								<li class="b-nav-submenu-item">
									<a href="#">Условия</a>
								</li>
								<li class="b-nav-submenu-item">
									<a href="#">Заявка</a>
								</li>
							</ul>
						</li>
						<li class="b-nav-submenu-item">
							<a href="#">Сервис</a>
						</li>
						<li class="b-nav-submenu-item">
							<a href="#">Награды</a>
						</li>
						<li class="b-nav-submenu-item">
							<a href="#">Дисконтные карты</a>
						</li>
						<li class="b-nav-submenu-item">
							<a href="#">О мехе</a>
						</li>
					</ul>
				</li>
				<li class="b-nav-item">
					<a href="/">
						<span>Цены и оплата</span>
					</a>
				</li>
				<li class="b-nav-item">
					<a href="/">
						<span>Шубы в рассрочку</span>
					</a>
				</li>
				<li class="b-nav-item">
					<a href="/">
						<span>Отзывы</span>
					</a>
				</li>
				<li class="b-nav-item">
					<a href="#">
						<span>Акции</span>
					</a>
				</li>
				<li class="b-nav-item">
					<a href="#">
						<span>Вопросы</span>
					</a>
				</li>
				<li class="b-nav-item">
					<a href="#">
						<span>Контакты</span>
					</a>
				</li>
			</ul>
			<section class="b-basket b-basket__header f-right">
				<a href="#" class="a-link-reverse b-basket-link">
					<i class="b-icon b-icon__header_cart"></i>
					Ваша корзина:
				</a>
				5 товаров
			</section>
		</nav>
	</section>
</header>
