<section class="b-nav b-nav__vertical b-nav__sidebar b-nav__three">
	<h3 class="b-nav-name">Каталог</h3>
	<dl class="b-three">
		<dt class="b-three-item b-three-item__parent active">
			<a href="#">Женские шубы</a>
		</dt>
		<dd class="b-three-item-childs">
			<ul>
				<li class="b-three-item b-three-item__children active">
					<a href="#">Шубы из норки</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Шубы из каракуля</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Шубы из нерпы</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Шубы из бобра</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Шубы из лисы</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Шубы из соболя</a>
				</li>
			</ul>
		</dd>

		<dt class="b-three-item b-three-item__parent">
			<a href="#">Меховые жилеты</a>
		</dt>
		<dd class="b-three-item-childs">
			<ul>
				<li class="b-three-item b-three-item__children">
					<a href="#">Жилеты из лисы</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Жилеты из норки</a>
				</li>
				<li class="b-three-item b-three-item__children">
					<a href="#">Жилеты из шиншилы</a>
				</li>
			</ul>
		</dd>

		<dt class="b-three-item b-three-item__parent">
			<a href="#">Мужские шубы</a>
		</dt>

		<dt class="b-three-item b-three-item__parent">
			<a href="#">Детские шубы</a>
		</dt>

		<dt class="b-three-item b-three-item__parent">
			<a href="#">Индивидуальный пошив</a>
		</dt>
	</dl>
</section>
