.b-reviews
{
	.b-review
	{
		&-item
		{
			margin-top : 30px;

			&-body
			{
				border      : 1px solid @brand-gray;
				background  : #F8F4F1;
				padding     : 22px 34px;
				position    : relative;
				line-height : 32px;

				&:after
				{
					content     : '';
					display     : block;
					position    : absolute;
					margin-left : 10px;
					bottom      : -@b-icon-triangle-down-peach-height;
					.sprite(@b-icon-triangle-down-peach);
				}
			}

			&-author
			{
				font-weight : bold;
				font-family : PTSansBold, sans-serif;
				color       : @brand-primary;

				&-name
				{
					margin-left : 10px;
					color       : @brand-darkgray;
				}
			}

			&-date
			{
				float : right;
			}
		}
	}
}
