<form class="b-catalog-filter" action="/catalog.html">
	<div class="b-nav b-nav__filter">
		<ul id="catalog_filter" class="clearfix b-nav-list b-nav-list__horizontal">
			<li class="panel col-sm-2 b-nav-item">
				<a href="#filter_color" data-toggle="collapse" data-parent="#catalog_filter">
					Цвет
				</a>
				<ul id="filter_color" class="b-nav-submenu collapse">
					<li class="b-nav-item">
						<label for="color1" title="Длинное название цвета которое не помещается">
							<input type="checkbox" name="color" id="color1"/>
							Длинное название цвета которое не помещается
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color2">
							<input type="checkbox" name="color" id="color2"/>
							2
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color3">
							<input type="checkbox" name="color" id="color3"/>
							3
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color4">
							<input type="checkbox" name="color" id="color4"/>
							4
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color5">
							<input type="checkbox" name="color" id="color5"/>
							5
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color6">
							<input type="checkbox" name="color" id="color6"/>
							6
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color7">
							<input type="checkbox" name="color" id="color7"/>
							7
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color8">
							<input type="checkbox" name="color" id="color8"/>
							8
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color9">
							<input type="checkbox" name="color" id="color9"/>
							9
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color10">
							<input type="checkbox" name="color" id="color10"/>
							10
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color11">
							<input type="checkbox" name="color" id="color11"/>
							11
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color12">
							<input type="checkbox" name="color" id="color12"/>
							12
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color13">
							<input type="checkbox" name="color" id="color13"/>
							13
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color14">
							<input type="checkbox" name="color" id="color14"/>
							14
						</label>
					</li>
					<li class="b-nav-item">
						<label for="color15">
							<input type="checkbox" name="color" id="color15"/>
							15
						</label>
					</li>
				</ul>
			</li>
			<li class="panel col-sm-2 b-nav-item">
				<a href="#filter_furnish" data-toggle="collapse" data-parent="#catalog_filter">
					Отделка
				</a>
				<ul id="filter_furnish" class="b-nav-submenu collapse">
					<li class="b-nav-item">
						<label for="furnish1">
							<input type="checkbox" name="furnish" id="furnish1"/>
							1
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish2">
							<input type="checkbox" name="furnish" id="furnish2"/>
							2
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish3">
							<input type="checkbox" name="furnish" id="furnish3"/>
							3
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish4">
							<input type="checkbox" name="furnish" id="furnish4"/>
							4
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish5">
							<input type="checkbox" name="furnish" id="furnish5"/>
							5
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish6">
							<input type="checkbox" name="furnish" id="furnish6"/>
							6
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish7">
							<input type="checkbox" name="furnish" id="furnish7"/>
							7
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish8">
							<input type="checkbox" name="furnish" id="furnish8"/>
							8
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish9">
							<input type="checkbox" name="furnish" id="furnish9"/>
							9
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish10">
							<input type="checkbox" name="furnish" id="furnish10"/>
							10
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish11">
							<input type="checkbox" name="furnish" id="furnish11"/>
							11
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish12">
							<input type="checkbox" name="furnish" id="furnish12"/>
							12
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish13">
							<input type="checkbox" name="furnish" id="furnish13"/>
							13
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish14">
							<input type="checkbox" name="furnish" id="furnish14"/>
							14
						</label>
					</li>
					<li class="b-nav-item">
						<label for="furnish15">
							<input type="checkbox" name="furnish" id="furnish15"/>
							15
						</label>
					</li>
				</ul>
			</li>
			<li class="panel col-sm-2 b-nav-item">
				<a href="#filter_size"  data-toggle="collapse" data-parent="#catalog_filter">
					Размер
				</a>
				<ul id="filter_size" class="b-nav-submenu collapse">
					<li class="b-nav-item">
						<label for="size1">
							<input type="checkbox" name="size" id="size1"/>
							1
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size2">
							<input type="checkbox" name="size" id="size2"/>
							2
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size3">
							<input type="checkbox" name="size" id="size3"/>
							3
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size4">
							<input type="checkbox" name="size" id="size4"/>
							4
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size5">
							<input type="checkbox" name="size" id="size5"/>
							5
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size6">
							<input type="checkbox" name="size" id="size6"/>
							6
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size7">
							<input type="checkbox" name="size" id="size7"/>
							7
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size8">
							<input type="checkbox" name="size" id="size8"/>
							8
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size9">
							<input type="checkbox" name="size" id="size9"/>
							9
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size10">
							<input type="checkbox" name="size" id="size10"/>
							10
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size11">
							<input type="checkbox" name="size" id="size11"/>
							11
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size12">
							<input type="checkbox" name="size" id="size12"/>
							12
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size13">
							<input type="checkbox" name="size" id="size13"/>
							13
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size14">
							<input type="checkbox" name="size" id="size14"/>
							14
						</label>
					</li>
					<li class="b-nav-item">
						<label for="size15">
							<input type="checkbox" name="size" id="size15"/>
							15
						</label>
					</li>
				</ul>
			</li>
			<li class="panel col-sm-2 b-nav-item">
				<a href="#type_length"  data-toggle="collapse" data-parent="#catalog_filter">
					Тип длины
				</a>
				<ul id="type_length" class="b-nav-submenu collapse">
					<li class="b-nav-item">
						<label for="type_length1">
							<input type="checkbox" name="type_length" id="type_length1"/>
							1
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length2">
							<input type="checkbox" name="type_length" id="type_length2"/>
							2
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length3">
							<input type="checkbox" name="type_length" id="type_length3"/>
							3
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length4">
							<input type="checkbox" name="type_length" id="type_length4"/>
							4
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length5">
							<input type="checkbox" name="type_length" id="type_length5"/>
							5
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length6">
							<input type="checkbox" name="type_length" id="type_length6"/>
							6
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length7">
							<input type="checkbox" name="type_length" id="type_length7"/>
							7
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length8">
							<input type="checkbox" name="type_length" id="type_length8"/>
							8
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length9">
							<input type="checkbox" name="type_length" id="type_length9"/>
							9
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length10">
							<input type="checkbox" name="type_length" id="type_length10"/>
							10
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length11">
							<input type="checkbox" name="type_length" id="type_length11"/>
							11
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length12">
							<input type="checkbox" name="type_length" id="type_length12"/>
							12
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length13">
							<input type="checkbox" name="type_length" id="type_length13"/>
							13
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length14">
							<input type="checkbox" name="type_length" id="type_length14"/>
							14
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_length15">
							<input type="checkbox" name="type_length" id="type_length15"/>
							15
						</label>
					</li>
				</ul>
			</li>
			<li class="panel col-sm-2 b-nav-item">
				<a href="#filter_silhouette"  data-toggle="collapse" data-parent="#catalog_filter">
					Тип силуэта
				</a>
				<ul id="filter_silhouette" class="b-nav-submenu collapse">
					<li class="b-nav-item">
						<label for="type_silhouette1">
							<input type="checkbox" name="type_silhouette" id="type_silhouette1"/>
							1
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette2">
							<input type="checkbox" name="type_silhouette" id="type_silhouette2"/>
							2
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette3">
							<input type="checkbox" name="type_silhouette" id="type_silhouette3"/>
							3
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette4">
							<input type="checkbox" name="type_silhouette" id="type_silhouette4"/>
							4
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette5">
							<input type="checkbox" name="type_silhouette" id="type_silhouette5"/>
							5
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette6">
							<input type="checkbox" name="type_silhouette" id="type_silhouette6"/>
							6
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette7">
							<input type="checkbox" name="type_silhouette" id="type_silhouette7"/>
							7
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette8">
							<input type="checkbox" name="type_silhouette" id="type_silhouette8"/>
							8
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette9">
							<input type="checkbox" name="type_silhouette" id="type_silhouette9"/>
							9
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette10">
							<input type="checkbox" name="type_silhouette" id="type_silhouette10"/>
							10
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette11">
							<input type="checkbox" name="type_silhouette" id="type_silhouette11"/>
							11
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette12">
							<input type="checkbox" name="type_silhouette" id="type_silhouette12"/>
							12
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette13">
							<input type="checkbox" name="type_silhouette" id="type_silhouette13"/>
							13
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette14">
							<input type="checkbox" name="type_silhouette" id="type_silhouette14"/>
							14
						</label>
					</li>
					<li class="b-nav-item">
						<label for="type_silhouette15">
							<input type="checkbox" name="type_silhouette" id="type_silhouette15"/>
							15
						</label>
					</li>
				</ul>
			</li>
			<li class="panel col-sm-2 b-nav-item">
				<a href="#filter_more"  data-toggle="collapse" data-parent="#catalog_filter">
					Ещё
				</a>
				<ul id="filter_more" class="b-nav-submenu collapse">
					<li class="b-nav-item">
						<label for="more_1">
							<input type="checkbox" name="more" id="more_1"/>
							1
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_2">
							<input type="checkbox" name="more" id="more_2"/>
							2
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_3">
							<input type="checkbox" name="more" id="more_3"/>
							3
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_4">
							<input type="checkbox" name="more" id="more_4"/>
							4
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_5">
							<input type="checkbox" name="more" id="more_5"/>
							5
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_6">
							<input type="checkbox" name="more" id="more_6"/>
							6
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_7">
							<input type="checkbox" name="more" id="more_7"/>
							7
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_8">
							<input type="checkbox" name="more" id="more_8"/>
							8
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_9">
							<input type="checkbox" name="more" id="more_9"/>
							9
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_10">
							<input type="checkbox" name="more" id="more_10"/>
							10
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_11">
							<input type="checkbox" name="more" id="more_11"/>
							11
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_12">
							<input type="checkbox" name="more" id="more_12"/>
							12
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_13">
							<input type="checkbox" name="more" id="more_13"/>
							13
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_14">
							<input type="checkbox" name="more" id="more_14"/>
							14
						</label>
					</li>
					<li class="b-nav-item">
						<label for="more_15">
							<input type="checkbox" name="more" id="more_15"/>
							15
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</form>
