<article class="col-xs-3 b-product b-product__preview">
	<a class="b-product-image" href="#">
		<img class="img-responsive" src="i/src/fur_coat_2.jpg" alt=""/>
	</a>
	<div class="b-product-info">
		<a class="a-link-reverse" href="#">
			<strong class="b-product-name" data-toggle="tooltip" title="Норковая шуба с очень длинной шерстью">
				Норковая шуба с очень длинной шерстью
			</strong>
			<strong class="b-product-model">
				NR-04216
			</strong>
		</a>
	</div>
</article>
