<article class="col-xs-3 b-product b-product__preview">
	<a class="b-product-image" href="#">
		<img class="img-responsive" src="i/src/fur_coat_2.jpg" alt=""/>
		<span class="b-product-price">
			<span class="price price__old">120 000 р.</span>
			<br/>
			<span class="price price__current">100 000 р.</span>
		</span>
	</a>
	<div class="b-product-info">
		<a class="a-link-reverse" href="#">
			<strong class="b-product-name">
				Норковая шуба
			</strong>
			<strong class="b-product-model">
				NR-04216
			</strong>
		</a>
	</div>
</article>
<article class="col-xs-3 b-product b-product__preview">
	<a class="b-product-image" href="#">
		<img class="img-responsive" src="i/src/fur_coat_2.jpg" alt=""/>
		<span class="b-product-price">
			<span class="price price__current">780 000 р.</span>
		</span>
	</a>
	<div class="b-product-info">
		<a class="a-link-reverse" href="#">
			<strong class="b-product-name" data-toggle="tooltip" title="Норковая шуба с очень длинной шерстью">
				Норковая шуба с очень длинной шерстью
			</strong>
			<strong class="b-product-model">
				NR-04216
			</strong>
		</a>
	</div>
</article>
