.b-about
{
	&-experience
	{
		margin-bottom : 27px;
		padding       : 36px 0 31px;
		border-top    : 1px solid #E7E5E6;
		border-bottom : 1px solid #E7E5E6;
		background    : url(~'@{images_path}pattern.png') 0 0 repeat;

		&-item
		{
			text-align     : center;
			text-transform : uppercase;
			font-family    : 'PTSansBold';

			.text
			{
				&:before
				{
					content    : '';
					display    : block;
					width      : 40px;
					margin     : 0 auto;
					position   : relative;
					top        : -16px;
					border-top : 1px solid @brand-primary;
				}

				margin      : 37px 0 0 0;
				line-height : 32px;
			}
		}
	}

	&-description
	{
		margin-top  : 20px;
		color       : #6F6F6F;
		font-size   : 16px;
		font-family : "PTSansRegular", sans-serif;
		line-height : 30px;
	}
}
