.b-article
{
	@ns: ~'.b-article';

	&__detail
	{
		line-height : 32px;

		@{ns}-image
		{
			height        : 420px;
		}

		p, .blockqoute
		{
			margin : 29px 0 33px;
		}

		.blockqoute
		{
			position     : relative;
			padding-left : 40px;

			&:after
			{
				content     : '';
				display     : block;
				position    : absolute;
				left        : 0;
				top         : 10%;
				height      : 80%;
				border-left : 5px solid @blockquote-border-color;
			}
		}

		.b-heading
		{
			margin-bottom : 10px;
		}

		ul
		{
			overflow : hidden;

			> li
			{
				list-style-position : outside;
				padding-left        : 26px;

				&:last-child
				{
					margin-bottom : 0;
				}
			}
		}
	}
}
