.b-basket
{
	font-family : 'PTSansRegular';

	.b-icon
	{
		vertical-align : middle;
		margin-right   : 10px;
	}

	&-link
	{
		color : #E37578;
	}

	&__header
	{
		height      : 58px;
		line-height : 64px;
		color : @brand-primary;
	}
}
