.b-catalog
{
	@ns: ~'.b-catalog';
	@import "./catalog/section.less";

	.b-products.row
	{
		margin-left  : -18px;
		margin-right : -18px;
		margin-top   : 16px;

		.b-product
		{
			padding : 0 18px;
		}
	}

	&-load_more_button
	{
		.button-variant(#FFF, @brand-primary, @brand-primary);
		.size(138px, 38px);
		.inline-block();
		line-height     : 38px;
		text-decoration : none !important;
	}
}
