.b-comments
{
	@ns: ~'.b-comments';

	&-top_bar,
	&-bottom_bar
	{
		text-align : center;
		margin     : 20px 0 30px;

		@{ns}-count
		{
			font-family : "PTSansBold";
		}
	}

	&-item
	{
		margin         : 0 0 26px;
		padding-bottom : 7px;
		border-bottom  : 1px solid @brand-gray;

		.fa.fa-user
		{
			margin-right : 15px;
		}

		&-author
		{
			margin-right : 13px;
			font-family  : 'PTSansBold';
		}

		&-body
		{
			margin       : 10px 0 0;
			line-height  : 25px;
			font-size    : 14px;
			word-spacing : -2px;
		}

		&-reply
		{
			color       : @brand-primary;
			margin-left : 81px;
			margin-top  : 22px;
		}
	}
}
