.b-form
{
	@ns: ~'.b-form';
	z-index  : 5;
	position : relative;
	.clearfix();

	&-title
	{
		text-align : center;
		z-index    : 10;
		position   : relative;
		top        : -40px;
		zoom       : 1;

		span
		{
			color          : #2F2F2F;
			font-family    : 'OpenSansBold';
			.inline-block();
			background     : #FFF;
			padding        : 0 36px;
			font-size      : 20px;
			text-transform : uppercase;
		}
	}

	&-row
	{
		padding : 15px 0;
		.clearfix();
	}

	@{ns}-label
	{
		text-align : right;

		.control-label
		{
			font-family : 'PTSansBold';
		}
		label
		{
			margin-bottom : 0;
		}

		&__icon
		{
			border      : 1px solid #E7E5E6;
			background  : #F8F4F1;
			padding     : 0 0 0 46px;
			height      : 36px;
			line-height : 36px;
			text-align  : left;
			position    : relative;
			display     : block;

			@{ns}-control-icon
			{
				color          : @brand-primary;
				vertical-align : middle;
				position       : absolute;
				left           : 20px;
				line-height    : 36px;
			}

			@{ns}-control
			{
				vertical-align : middle;
				border         : 0;
				color          : #717171;
				background     : transparent !important;
				display        : block;
				width          : 100%;
			}
		}
	}

	@{ns}-control-inner
	{
		.form-control
		{
			border-color : #E7E5E6;
			background   : #F8F4F1;
			.prefixr(box-shadow, none);
			.placeholder(#717171);
		}
	}

	&-control
	{
		color : #717171;
		.placeholder(#717171);
	}

	&-textarea
	{
		position   : relative;
		display    : block;
		max-width  : 100%;
		border     : 1px solid @brand-gray;
		background : #F8F4F1;
		margin     : 0 0 0 0 !important;
		padding    : 10px 0 0 46px;

		&:before
		{
			.fa-icon();
			content  : @fa-var-comment;
			color    : @brand-primary;
			position : absolute;
			left     : 18px;
			top      : 10px;
		}

		textarea
		{
			border           : 0;
			max-width        : 100%;
			width            : 100%;
			height           : 100%;
			min-height       : 120px;
			position         : relative;
			background-color : transparent;
			margin           : 0;
			padding          : 0;
			outline          : none;
			color            : #717171;
			.placeholder(#717171);
		}
	}

	&-checkbox
	{
		.inline-block();
		color     : #333;
		font-size : 16px;

		.e-checkbox
		{
			.inline-block();
			position       : relative;
			overflow       : hidden;
			text-align     : center;
			line-height    : 14px;
			z-index        : 9;
			background     : #F8F4F1;
			vertical-align : -2px;
			border         : 1px solid #E7E5E6;
			.box-sizing(border-box);
			.square(14px);
			margin-right   : 25px;
		}

		input[type=checkbox],
		input[type=radio]
		{
			.square(31px);
			padding  : 0;
			margin   : 0;
			position : absolute;
			top      : 0;
			left     : -9999px;
			z-index  : 10;
		}

		.checkbox-icon
		{
			visibility : hidden;
			z-index    : 2;
			color      : #707070;
			font-size  : 9px;
			position   : absolute;
			left       : 2px;
			top        : 1px;
		}

		&:hover .checkbox-icon
		{
			visibility : visible;
			.opacity(0.4);
		}

		&.checked
		{
			.e-checkbox
			{
				border-color : #ACACAC;
				background   : #F6F4F0;

			}
			.checkbox-icon
			{
				visibility : visible;
			}
		}

		&.checked:hover .checkbox-icon
		{
			.opacity(1) !important;
		}

		&:active
		{
			.e-checkbox
			{
				background : #FFF;
				.prefixr(box-shadow, inset 1px 1px 0px darken(#EBEBEB, 10%)) !important;
			}
		}
	}

	&-button
	{
		.button-variant(#FFF, #FF993D, #BD5E64);
		border         : 0;
		.button-size(0, 56px, 16px, 32px, 0);
		line-height    : 40px;
		height         : 40px;
		text-transform : uppercase;
		font-family    : PTSansBold;
		outline        : none;
		border-bottom  : 2px solid #BD5E64;

		&:active
		{
			-webkit-box-shadow : inset 0 2px 1px #BD5E64;
			-moz-box-shadow    : inset 0 2px 1px #BD5E64;
			box-shadow         : inset 0 2px 1px #BD5E64;
			border-color       : transparent;
		}
	}

	&-reset
	{
		background      : none;
		border          : 0;
		text-decoration : underline;
		color           : @brand-primary;

		&:hover
		{
			text-decoration : none;
		}
	}

	&__inline
	{
		@{ns}-label
		{
			display : block;
		}
	}

	&__feedback-review,
	&__faq,
	&__product-comment
	{
		border     : 3px solid @brand-gray;
		padding    : 25px 47px;
		margin-top : 30px;

		@{ns}-row
		{
			border-top : 1px solid @brand-gray;
		}
	}

	&__order
	{
		border  : 3px solid @brand-gray;
		padding : 25px 47px;

		@{ns}-row
		{
			border-top : 1px solid @brand-gray;
		}
	}

	&__registration,
	&__dealer
	{
		border-top  : 1px solid #E7E5E6;
		padding-top : 30px;

		.form-group
		{
			margin-bottom : 30px;
			overflow      : hidden;

			&.form-divider
			{
				border-top  : 1px solid #E7E5E6;
				padding-top : 20px;
			}
		}

		@{ns}-label
		{
			width          : 413px;
			display        : block;
			float          : left;
			margin-right   : 50px;
			vertical-align : top;
			padding-top    : 8px;
		}

		@{ns}-control-inner
		{
			width   : 500px;
			display : block;
			float   : right;
		}

		.captcha-group .form-control
		{
			width      : 180px;
			margin-top : 15px;
		}

		@{ns}-row
		{
			border-top : 1px solid @brand-gray;
		}
	}

	&__dealer
	{
		border      : 0;
		padding-top : 0;

		@{ns}-description
		{
			line-height : 32px;
		}
	}

	&__auth
	{
		.e-checkbox
		{
			margin-right : 14px;
		}

		@{ns}-button
		{
			padding      : 0 25px;
			margin-right : 30px;
		}
	}

	&__product-comment
	{
		.captcha-group
		{
			@{ns}-label
			{
				text-align    : left;
				margin-bottom : 10px;
				label
				{
					font-family : PTSansRegular;
				}
			}
			@{ns}-control-inner
			{
				.form-control
				{
					height : 40px
				}
			}
		}
		.e-checkbox
		{
			margin-right : 14px;
		}
	}
}
