.b-gallery
{
	ul.nav
	{
		margin-bottom : 5px !important;
		> li > a
		{
			line-height : 33px;
			padding     : 0 20px;
		}
	}

	&-item
	{
		padding : 15px;
		width   : 20%;
		display : block;
		float   : left;
	}
}
