.b-logotype
{
	display     : inline-block;
	*display    : inline;
	*zoom       : 1;
	text-indent : -999px;
	overflow    : hidden;
	background  : url(~'@{images_path}logotype.png') 0 0 no-repeat;

	&&__inverse
	{
		background : url(~'@{images_path}logotype__inverse.png') 0 0 no-repeat;
	}

	&&__header
	{
		width  : 323px;
		height : 65px;
	}
}
