.b-nav
{
	@ns: ~'.b-nav';

	ul
	{
		margin     : 0 !important;
		list-style : none;
		li
		{
			margin-bottom : 0 !important;
			padding       : 0 !important;
		}
	}

	&-list
	{
		list-style : none;

		&__horizontal
		{
			margin  : 0 !important;
			padding : 0 !important;

			> @{ns}-item
			{
				.inline-block();

				> a
				{
					padding : 0 15px;
				}

				&:first-child
				{
					margin-left : -15px;
				}
			}
		}

		@{ns}-item
		{
			position : relative;

			@{ns}-submenu
			{
				position : absolute !important;
				width    : 150px;
				z-index  : 1100;
			}
		}
	}

	&__vertical
	{
		@{ns}-name
		{
			margin         : 0;
			padding        : 0;
			color          : #2F2F2F;
			font-size      : 16px;
			font-family    : "PTSansBold", sans-serif;
			text-transform : uppercase;
			border         : 1px solid #E7E5E6;
			text-align     : center;
			height         : 33px;
			line-height    : 32px;
			margin-bottom  : 15px;
			margin-right   : 15px;

			&:after
			{
				content : '';
				display : block;
				margin  : -1px auto 0;
				.sprite(@b-icon-triangle-down);
			}
		}
	}

	&__three
	{
		.b-three
		{
			@ns: ~'.b-three';
			padding  : 0;
			margin   : 0;
			overflow : hidden;

			&-item
			{
				font-size : 14px;

				&__parent
				{
					margin : 10px 0;
					> a
					{
						font-family    : 'PTSansBold';
						text-transform : uppercase;
						color          : @brand-primary;
						white-space    : nowrap;
					}
					&.active > a
					{
						color : #AD7749;
					}
				}

				&-childs
				{
					overflow      : hidden;
					margin-bottom : 15px;
					ul
					{
						padding : 0;
					}
				}

				&__children
				{
					margin-bottom : 7px !important;
					padding       : 0 !important;
					list-style    : none;
					line-height   : 18px;

					&.active > a
					{
						font-family : 'PTSansBold', sans-serif;
						color       : #2F2F2F;

						&:before
						{
							.fa-icon();
							content      : @fa-var-arrow-right;
							margin-right : 8px;
						}
					}
				}
			}
		}
	}

	&__filter
	{
		margin : 0;

		@{ns}-list > @{ns}-item
		{
			text-align : center;
			margin     : 0 !important;
			z-index    : 10;

			> a
			{
				display : block;
				padding : 0;
				z-index : 9;
			}

			> @{ns}-submenu
			{
				left       : -13px;
				height     : 250px;
				width      : 190px;
				border     : 1px solid #ACACAC;
				overflow   : auto;
				text-align : left;
				z-index    : 12;
				background : #FFF;
				padding    : 11px 0 !important;

				> @{ns}-item
				{
					padding :  0 11px !important;

					&:hover
					{
						background : lighten(@brand-primary,20%);
					}
				}
			}
		}
	}

	&__header
	{
		margin-top : 19px;
		border-top : 1px solid #E7E5E6;

		@{ns}-item
		{
			> a
			{
				display             : block;
				color               : #2F2F2F;
				font-size           : 16px;
				font-family         : 'OpenSansBold';
				height              : 58px;
				line-height         : 58px;
				text-transform      : uppercase;
				border              : 2px solid transparent;
				border-bottom-color : #F8F4F1 !important;
			}

			@{ns}-submenu
			{
				background : #F8F4F1;
				border     : 2px solid @brand-primary;
				display    : none;
				margin-top : -2px !important;
				padding    : 0 !important;
				min-width  : 180px;

				&-item
				{
					position : relative;

					> a
					{
						padding      : 16px 0;
						display      : block;
						border-top   : 1px solid #E7E5E6;
						padding-left : 24px;
					}

					&:hover > a
					{
						background      : #FFF;
						color           : @brand-primary;
						text-decoration : none;
					}

					> @{ns}-submenu
					{
						left : 100%;
						top  : 1px;
					}

				}
				&-item:first-child > a
				{
					border-top : 0;
				}
			}

			&__has_parent:hover > @{ns}-submenu,
			@{ns}-submenu-item__has_parent:hover > @{ns}-submenu
			{
				display : block;
			}

			&__has_parent:hover > a
			{
				border-color : @brand-primary;
				position     : relative;
				z-index      : 1110;
			}

			&:hover > a,
			&.active > a
			{
				color           : @brand-primary;
				text-decoration : none;

				span
				{
					position : relative;
				}
			}

			&.active > a span:after
			{
				content       : '';
				display       : block;
				position      : absolute;
				bottom        : -5px;
				left          : 0;
				right         : 0;
				border-bottom : 2px solid @brand-primary;
			}
		}
	}

	&__footer
	{
		margin-top : 14px;

		@{ns}-list:first-child + @{ns}-list
		{
			margin-left : -30px !important;
		}

		@{ns}-item > a
		{
			line-height : 32px;
			white-space : nowrap;
			color       : #FFF;

			&:hover
			{
				color : @brand-primary;
			}
		}
	}

}
