.b-product
{
	@ns: ~'.b-product';
	&__preview
	{
		position      : relative;
		margin-bottom : 36px;

		@{ns}-image
		{
			display  : block;
			position : relative;
		}

		@{ns}-name,
		@{ns}-model
		{
			font-family : 'PTSansBold';
			color       : #2F2F2F;
			font-size   : 16px;
			display     : block;
			text-align  : center;
			border      : 1px solid #E7E5E6;
			.text-overflow();
		}

		@{ns}-name
		{
			padding    : 7px 0 2px;
			background : #EDECE8;
		}
		@{ns}-model
		{
			margin-top : -1px;
			padding    : 3px 0 5px;
			background : #F8F4F1;
		}
	}

	&__detail
	{
		position : relative;

		@{ns}-gallery
		{
			position     : relative;
			width        : 400px;
			float        : left;
			margin-right : 70px;
			margin-top   : 6px;

			&-controls
			{
				background  : #F8F4F1;
				border      : 1px solid #E7E5E6;
				height      : 50px;
				line-height : 50px;
				position    : relative;

				a
				{
					text-decoration : none;
				}

				.fa.fa-search-plus
				{
					font-size   : 20px;
					margin-left : 16px;
					line-height : 50px;
					color       : @brand-primary;
					.transition(font-size .3s cubic-bezier(.19, 1, .23, .84));

					&:hover
					{
						font-size : 35px;
						.opacity(0.6);
					}

					&:active
					{
						font-size : 18px;
						.opacity(0.9);
					}
				}

				.control
				{
					.inline-block();
					position    : absolute;
					top         : -1px;
					outline     : 0;
					height      : 50px;
					line-height : 54px;
					width       : 140px;
					border      : 1px solid #E7E5E6;

					&:hover
					{
						background      : @brand-primary;
						color           : #FFF;
						text-decoration : none;
						border-color    : @brand-primary;
					}

					&__prev
					{
						padding      : 0 0 0 7px;
						left         : -1px;
						text-align   : left;
						border-right : 0;

						&:before
						{
							.inline-block();
							vertical-align : middle;
							margin-right   : 12px;
							content        : '';
							margin-top     : -2px;
							.sprite(@b-icon-arrow-left-gray);
						}
						&:hover:before
						{
							.sprite(@b-icon-arrow-left);
						}
					}

					&__next
					{
						padding     : 0 7px 0 0;
						text-align  : right;
						right       : -1px;
						border-left : 0;
						&:after
						{
							.inline-block();
							vertical-align : middle;
							margin-left    : 12px;
							margin-top     : -2px;
							content        : '';
							.sprite(@b-icon-arrow-right-gray);
						}
						&:hover:after
						{
							.sprite(@b-icon-arrow-right);
						}
					}
				}
			}

			&-inner
			{
				position : relative;
			}

			&-zoom_zoom
			{
				position : absolute;
				top      : 0;
				left     : 0;
				right    : 0;
				bottom   : 0;
				.rgba(#FFF, 0.3);
				display  : block;
			}

			&_thumbs
			{
				@{ns}-thumb-item
				{
					display      : block;
					float        : left;
					width        : 66px;
					margin-right : 12px;
					.box-sizing();
					position     : relative;

					&.active:after
					{
						content  : '';
						position : absolute;
						display  : block;
						top      : 0;
						left     : 0;
						right    : 0;
						bottom   : 0;
						border   : 6px solid @brand-primary;
					}
				}
			}
		}

		@{ns}-information
		{
			float : left;
			width : 500px;

			.back-link
			{
				color : @brand-primary;
				.fa
				{
					margin-right : 10px;
				}
			}

			@{ns}-name
			{
				text-align    : left;
				margin-top    : 6px;
				margin-bottom : 20px;
			}

			@{ns}-getprice
			{

				position : relative;
				.size(200px, 40px);

				.b-button
				{
					display        : block;
					line-height    : 37px;
					text-transform : uppercase;
					font-family    : 'PTSansBold';
					text-align     : center;
					margin-top     : 3px;
					border-bottom  : 2px solid #BD5E64;
					z-index        : 5;
				}

				.b-add2cart-notification
				{
					border        : 1px solid #8A8A8A;
					position      : absolute;
					bottom        : 100%;
					left          : 0;
					z-index       : 10;
					background    : #FFF;
					padding       : 11px 6px;
					margin-bottom : @b-icon-triangle-down-bordered-height;
					.prefixr(box-shadow, 0 2px 2px 1px #8A8A8A);

					&:after
					{
						content     : '';
						display     : block;
						position    : absolute;
						top         : 100%;
						left        : 50%;
						margin-left : -@b-icon-triangle-down-bordered-width/2px;
						.sprite(@b-icon-triangle-down-bordered);
					}
				}
			}

			@{ns}-price
			{
				&-inner
				{
					margin-bottom : 35px;
				}

				font-family  : OpenSansBold, sans-serif;
				font-size    : 30px;
				margin-right : 20px;

				&__old
				{
					color    : #898989;
					position : relative;

					&:after
					{
						position   : absolute;
						content    : '';
						width      : 100%;
						left       : 0;
						top        : 50%;
						border-top : 2px solid;
					}
				}
				&__current
				{
					color : #E3747A;
				}
			}
			@{ns}-short_props
			{
				border-top    : 1px solid #E7E5E6;
				border-bottom : 1px solid #E7E5E6;
				padding       : 25px 0 11px 0;

				&-list
				{
					> li
					{
						margin-bottom : 10px !important;

						.prop_name
						{
							text-transform : uppercase;
							color          : #2F2F2F;
							font-family    : 'PTSansBold';
						}
						.prop_value
						{
							font-style : normal;
							color      : #898989;
						}
					}
				}
			}

			/* begin sizes carousel*/
			@{ns}-size
			{
				margin : 28px 0 20px;

				&-carousel
				{
					margin  : 0;
					padding : 0;
					> li
					{
						list-style : none;
						margin     : 0 15px 0 0;
						padding    : 0;

						a
						{
							text-align  : center;
							display     : block;
							.square(36px);
							line-height : 36px;
							border      : 1px solid #8A8A8A;
							background  : #F8F4F1;

							&:hover
							{
								color           : @brand-darkgray;
								text-decoration : underline;
							}
						}

						&.active > a
						{
							border-color     : @brand-primary;
							background-color : @brand-primary;
							color            : #FFF;
						}

						&.disabled > a
						{
							background      : url(~'@{images_path}pattern_diagonal.png');
							color           : #A7A7A7;
							border-color    : #E7E5E6;
							text-decoration : none !important;
							cursor          : no-drop;
						}
					}
				}

				.bx-wrapper
				{
					.bx-controls-direction a
					{
						background-color : transparent;
						.square(36px);
						line-height      : 36px;

						&.bx-next
						{
							right  : -53px;
							margin : 0;
							top    : 0;

							&:after
							{
								position : absolute;
								top      : 50%;
								right    : 0;
								.sprite(@b-icon-arrow-right-gray);
								margin   : -@b-icon-arrow-left-gray-height/2px 0 0 0;
							}
						}

						&.bx-prev
						{
							left   : -53px;
							margin : 0;
							top    : 0;

							&:after
							{
								position : absolute;
								top      : 50%;
								.sprite(@b-icon-arrow-left-gray);
								margin   : -@b-icon-arrow-left-gray-height/2px 0 0 0;
							}
						}
					}
				}
			}
			/* end sizes carousel*/

			@{ns}-description
			{
				padding     : 19px 0 11px;
				line-height : 32px;
			}

			/* begin share box */
			@{ns}-sharer
			{
				padding    : 0;
				margin     : -14px 0 0;
				width      : 155px;
				float      : right;
				text-align : center;

				/* custom view for yandex share */
				&.b-share-wrap
				{
					text-align : center !important;

					.b-share-icon
					{
						background  : #ECECEC !important;
						color       : #A3A2A2;
						font-size   : 24px !important;
						text-align  : center;
						line-height : 36px !important;
						.square(38px) !important;
						.fa-icon();

						&_vkontakte
						{
							&:before
							{
								content : @fa-var-vk;
							}

							&:hover
							{
								background-color : #486E93 !important;
								color            : #FFF !important;
							}
						}

						&_facebook
						{
							&:before
							{
								content : @fa-var-facebook;
							}

							&:hover
							{
								background-color : #3A5998 !important;
								color            : #FFF !important;
							}
						}

						&_twitter
						{
							&:before
							{
								content : @fa-var-twitter;
							}

							&:hover
							{
								background-color : #00ACED !important;
								color            : #FFF !important;
							}
						}

						&_gplus
						{
							&:before
							{
								content : @fa-var-google-plus;
							}

							&:hover
							{
								background-color : #DD4B39 !important;
								color            : #FFF !important;
							}
						}

						&_odnoklassniki
						{
							display        : block;
							vertical-align : middle;

							&:after
							{
								content    : '';
								.inline-block();
								margin-top : 7px;
								.sprite(@b-icon-odnoklassniki-gray);
							}

							&:hover
							{
								background-color : #FD9A4E !important;
								&:after
								{
									.sprite(@b-icon-odnoklassniki);
								}
							}
						}
					}

					.b-share__handle
					{
						margin     : 0 0 5px 5px !important;
						padding    : 0 !important;
						.square(38px) !important;
						.inline-block();
						text-align : center !important;
					}

					.b-share
					{
						padding : 0 10px !important;
						margin  : 11px 0 0;
					}
				}

			}
			/* end share box */
		}
		@{ns}-attributes
		{
			margin     : 25px 0 20px;
			padding    : 0 49px 10px;
			border     : 1px solid #E7E5E6;
			background : #F8F4F1;

			&-title
			{
				display        : block;
				height         : 49px;
				color          : #2F2F2F;
				text-transform : uppercase;
				font-family    : 'PTSansBold';
				line-height    : 44px;

				&:before
				{
					display    : block;
					width      : 40px;
					border-top : 1px solid @brand-primary;
					content    : '';
				}
			}

			&-list
			{
				overflow   : hidden;
				margin     : 7px 0 0 0;
				list-style : none;
				padding    : 0;

				.b-attribute-item
				{
					padding-left  : @grid-gutter-width/2px;
					margin-bottom : 10px;

					strong, .attr_name
					{
						font-family : 'PTSansBold';
						color       : @brand-darkgray;
					}
				}
			}
		}

		@{ns}-comments
		{
			margin : 60px 0 43px;
		}
	}
}

.b-products
{
	margin-top : 14px;

	&.row
	{
		margin-left  : -19px;
		margin-right : -19px;
	}

	&__grid
	{
		margin-bottom : -36px;
		.b-product
		{
			padding : 0 19px;

			&-price
			{
				position   : absolute;
				bottom     : 0;
				overflow   : hidden;
				width      : 100%;
				text-align : center;

				.price
				{
					.inline-block();
					font-family : 'PTSansBold';
					overflow    : hidden;
					color       : #FFF;

					&__old
					{
						text-decoration : line-through;
						background      : #717171;
						padding         : 0 9px;
						min-width       : 93px;
						color           : #FFF;
					}

					&__current
					{
						background : @brand-danger;
						padding    : 1px 11px 0;
						font-size  : 20px;
					}
				}
			}
		}
	}
}
