.b-prices
{
	&-method-item
	{
		text-align     : center;
		text-transform : uppercase;
		font-family    : 'PTSansBold';

		.text
		{
			&:before
			{
				content    : '';
				display    : block;

					width      : 40px;
				margin     : 0 auto;
				position   : relative;
				top        : -16px;
				border-top : 1px solid @brand-primary;
			}
			margin      : 37px 0 0 0;
			line-height : 32px;
		}
	}
}
