.b-questions
{
	.b-question
	{
		margin-top : 30px;
		border     : 1px solid @brand-gray;

		&-item-body,
		&-answer .b-answer-body
		{
			position     : relative;
			line-height  : 32px;
			margin       : 0;
			padding-left : 48px;

		}

		&-item
		{
			padding : 26px 25px 14px;

			&-body:before
			{
				display : block;
				content : '';
				position : absolute;
				left     : 0;
				top      : 8px;
				.sprite(@b-icon-question);
			}

			&-author
			{
				font-weight : bold;
				font-family : PTSansBold, sans-serif;
				color       : @brand-primary;
				margin-left : 48px;

				&-name
				{
					margin-left : 10px;
					color       : @brand-darkgray;
				}
			}

			&-date
			{
				float : right;
			}
		}

		&-answer
		{
			@ns: ~'.b-answer';
			border-top : 1px solid @brand-primary;
			padding    : 26px 25px;
			background : #F8F4F1;

			@{ns}-body:before
			{
				display : block;
				content : '';
				position : absolute;
				left     : 0;
				top      : 8px;
				.sprite(@b-icon-answer);
			}
		}
	}
}
