.b-search
{
	&-query
	{
		background     : #FFF;
		border         : 1px solid #D6D6D6;
		margin         : 0;
		padding        : 8px 0 6px 17px;
		font-family    : 'PTSansRegular';
		vertical-align : top;
		.inline-block();
	}

	&-submit
	{
		background     : #2F2F2F;
		border         : 0;
		color          : @brand-primary;
		vertical-align : top;
		padding        : 0;
		margin         : 0 0 0 -4px;
		line-height    : 45px;
		.square(38px);
		.inline-block();
	}

	&__header
	{
		margin : 15px 0 0 70px;
	}
}
