.b-shopping_cart
{
	&-description
	{
		text-align  : center;
		line-height : 32px;

	}

	&-table
	{
		margin-top   : 20px;
		border-color : #E7E5E6 !important;
		border-top   : 2px solid #E0A77C !important;

		thead
		{
			border-top : 1px solid #E7E5E6 !important;
			th
			{
				text-align : center;
				background : #F8F4F1;
				color      : #333;
			}
		}
	}
	&-product
	{

		&-image_inner
		{
			position : relative;
			padding  : 23px 0 8px 18px;
			height   : 90px;
		}
		&-image
		{
			.inline-block();
			position : absolute;
			right    : 0;
			height   : 90px;
			top      : 0;
			bottom   : 0;
		}

		td
		{
			padding      : 23px 20px 8px !important;
			border-color : #E7E5E6;
			color        : #707070;
		}
		td:first-child
		{
			text-align : left;
			padding    : 0 !important;
		}
		a
		{
			color : @brand-primary;
		}
	}
}
