.b-viewed_history
{
	margin     : 33px 0 20px;
	padding    : 0 49px 34px;
	border     : 1px solid #E7E5E6;
	background : #F8F4F1;

	&-title
	{
		display        : block;
		height         : 49px;
		color          : #2F2F2F;
		text-transform : uppercase;
		font-family    : 'PTSansBold';
		line-height    : 44px;

		&:before
		{
			display    : block;
			width      : 40px;
			border-top : 1px solid @brand-primary;
			content    : '';
		}
	}

	&-list
	{
		overflow   : hidden;
		margin     : 0 -15px;
		padding    : 0 !important;
		list-style : none !important;
	}

	&-item
	{
		float   : left;
		margin  : 0 !important;
		padding : 0 15px !important;
	}
}
