.b-button
{
	a&
	{
		text-decoration : none !important;
	}
	position : relative;
	border   : 0;
	padding  : 3px 15px 3px;
	outline  : none;
	.inline-block();

	&__orange
	{
		color      : #FFF !important;
		background : #FF912D;
		#gradient > .vertical(#FF912D, #FF9F4B);

		&:hover,
		&:focus
		{
			.opacity(0.8)
		}
		&:active
		{
			background : darken(#FF912D, 8%);
			.prefixr(box-shadow, inset 1px 1px 3px darken(#FF912D, 10%)) !important;
		}
	}
}
