.b-modal
{
	&-overlay,
	&-container
	{
		position: fixed;
		left:     0;
		top:      0;
		right:    0;
		bottom:   0;
		z-index:  1000;
	}

	&-overlay
	{
		background-color: rgba(0, 0, 0, 0.5);
	}
	&-container
	{
		overflow:        auto;
		margin:          0;
		padding:         0;
		border:          0;
		border-collapse: collapse;
	}
	*:first-child + html &-container
	{
		height: 100%
	}
	&-container_i
	{
		height: 100%;
		margin: 0 auto;
	}
	&-container_i2
	{
		padding:        24px;
		margin:         0;
		border:         0;
		vertical-align: middle;
	}
	&-error
	{
		padding:       20px;
		border-radius: 10px;
		background:    #000;
		color:         #FFF;
	}
	&-loading
	{
		width:         80px;
		height:        80px;
		border-radius: 10px;
		background:    #000 url(~'@{pathToImg}/modal/loading.gif') no-repeat 50% 50%;
	}
}

/* ---- popup window ----*/

.b-popup
{
	border:     1px solid #DAE1E8;
	.prefixr(border-radius, 9px);
	background: #FAFAFA;
	z-index:    1000;
	position:   relative;

	.b-icon-close_red
	{
		position: absolute;
		right:    4px;
		top:      4px;
	}

	&-container
	{
		width:  612px;
		margin: 28px;

		.title
		{
			display:     block;
			font-size:   30px;
			margin-top:  23px;
			border-top:  1px solid #EAEDF1;
			padding-top: 20px;
		}

		.b-profile
		{
			border:     1px solid #DAE1E8;
			.prefixr(border-radius, 9px);
			.inline-block();
			background: #FFF;
			padding:    12px 27px 13px 23px;
			margin:     0 17px 11px 0;

			&-title
			{
				font-size: 24px;
				padding:   0;
				margin:    0 0 11px;
			}

			&-image
			{
				.inline-block();
				.prefixr(border-radius, 3px);
				overflow:     hidden;
				width:        47px;
				margin-right: 17px;
			}

			&-name
			{
				.inline-block();
				vertical-align: top;
				margin-top:     -6px;
				width:          100px;
				line-height:    25px;
			}
		}

		.feedback
		{
			margin-top: 35px;

			.b-form-label-input_wrapper
			{
				padding:       11px 40px;
				margin-bottom: 11px;
				width:         370px;
				position:      relative;

				.b-icon-32
				{
					position: absolute;
					left:     9px;
				}
			}

			.b-form-label-textarea_wrapper
			{
				padding:          11px 9px 11px 34px;
				margin-bottom:    11px;
				.inline-block();
				width:            100%;
				vertical-align:   middle;
				background-color: #FFF;
				color:            #868686;
				border:           1px solid #DAE1E8;
				font-size:        16px;
				font-weight:      400;
				text-align:       left;
				white-space:      nowrap;
				.prefixr(border-radius, 9px);

				.b-icon-pencil_medium
				{
					margin-left: -25px;
				}

				textarea
				{
					border:         0;
					height:         130px;
					vertical-align: top;
					width:          100%;
					resize:         none;
				}
			}

			.selectbox
			{
				.inline-block();
				position: relative;
				width:    370px;

				.b-icon-stat_medium
				{
					position: absolute;
					left:     9px;
					z-index:  98;
					top:      11px;
				}

				.ik_select, .ik_select_link
				{
					height:      38px;
					background:  #FFF;
					line-height: 38px;
				}

				.ik_select_link
				{
					padding-left: 43px;
				}
			}

			.b-button
			{
				width:      100%;
				text-align: center;
				font-size:  26px;
			}

			.text-gray
			{
				display:    block;
				margin-top: 30px;
				font-size:  14px;
			}
		}
	}
}
