
.b-heading
{
	margin         : 0;
	padding        : 0;
	color          : #333; // text color
	font-family    : "OpenSansBold", sans-serif;
	font-size      : 30px;
	text-align     : center;
	text-transform : uppercase;

	&&__lines
	{
		span
		{
			position : relative;
			&:before
			{
				display       : block;
				.size(40px, 5px);
				position      : absolute;
				left          : -65px;
				top           : 50%;
				content       : '';
				margin-top    : -3px;
				border-bottom : 1px solid @brand-primary;
				border-top    : 1px solid @brand-primary;
			}
			&:after
			{
				display       : block;
				.size(40px, 5px);
				position      : absolute;
				right         : -65px;
				top           : 50%;
				content       : '';
				margin-top    : -3px;
				border-bottom : 1px solid @brand-primary;
				border-top    : 1px solid @brand-primary;
			}
		}
	}
}

.b-page-content
{
	ul
	{
		position   : relative;
		padding    : 0 0 0 65px;
		list-style : url(~'@{images_path}list-image-dot.png');

		> li
		{
			list-style-position : outside;
			padding-left        : 26px;
			margin-bottom       : 16px;
		}
	}

	ul.list-unstyled,
	ul.list-inline,
	ul.reset,
	ul.nav,
	ul.b-nav
	{
		&, > li
		{
			padding    : 0 !important;
			margin     : 0 !important;
			list-style : none;
		}
	}
}

.text-bold
{
	font-family : 'PTSansBold', sans-serif;
	font-weight : bold;
}

.text-dark
{
	color : #333;
}
