.bxslider() {
	@import "bxslider";
	//	@import "../bower_components/bxSlider/src/less/jquery.bxslider.less";
}

.bxslider();

.b-widget
{
	@ns : ~'.b-widget';
	position : relative;

	&_slider
	{
		width : 100%;
		.box-sizing(border-box);

		&-images
		{
			margin     : 0;
			padding    : 0;
			list-style : none;

			li
			{
				margin  : 0 !important;
				padding : 0 !important;
			}
		}
	}

	&_video
	{
		width : 100%;
		.box-sizing(border-box);

		&-wrapper
		{
			position   : relative;
			min-width  : 500px;
			min-height : 280px;
		}

		iframe, object, embed
		{
			width    : 100% !important;
			height   : 100% !important;
			position : absolute;
			top      : 0;
			left     : 0;
		}
	}

	&__maps
	{
		.box-sizing(border-box);
		min-height : 200px;
		overflow   : hidden;

		@{ns}-wrapper
		{
			position : absolute;
			height   : 100%;
			width    : 100%;
		}
	}
}

