&__section
{
	margin-top : 20px;

	@{ns}-filter
	{
		border           : 1px solid @brand-gray;
		border-top-color : @brand-primary;

		.b-nav-list > .b-nav-item
		{
			border-left : 1px solid #E7E5E6;

			&:first-child
			{
				border-left : 0;
			}

			> a
			{
				color           : #707070;
				height          : 32px;
				line-height     : 32px;
				text-decoration : none;
				font-family     : 'PTSansBold', sans-serif;
			}

			&:hover
			{
				> a
				{
					color : #2F2F2F;
				}
			}

			label
			{
				display : block;
				.text-overflow();

				input
				{
					vertical-align : -2px;
					margin-right   : 2px;
				}
			}
		}
	}
}
