@import './includes/bootstrap';
@import './includes/bootstrap_ext';
@import '../../bower_components/fontawesome/less/font-awesome';
@import (less)"../../bower_components/jqzoom/css/jquery.jqzoom.css";
//@import (less)"../../bower_components/arcticmodalbw/arcticmodal/jquery.arcticmodal.css";
//@import (less)"../../bower_components/arcticmodalbw/arcticmodal/themes/dark.css";
@import './includes/variables';
@import './includes/mixins';
@import './includes/components';
@import './sprite';

.b-icon
{
	display  : inline-block;
	*display : inline;
	*zoom    : 1;
	.sprites(@spritesheet-sprites);
}

body.b-page
{
	min-height  : 100%;
	margin-top  : 0;
	padding     : 0;
	position    : relative;
	font-size   : 16px;
	font-family : 'PTSansRegular';
	color       : #6F6F6F;
}

.f
{
	&-left
	{
		float : left;
	}
	&-right
	{
		float : right;
	}
	&-clear
	{
		float : none;
		clear : both;
	}
}

.a-link
{
	text-decoration : none;

	&:hover,
	&:focus
	{
		text-decoration : underline;
		color           : @brand-primary;
	}

	&-reverse
	{
		text-decoration : underline;

		&:hover,
		&:focus
		{
			text-decoration : none;
			color           : @brand-primary;
		}
	}

	&-reverse.text-link,
	&.text-link
	{
		color : #333 !important;
	}

	&-disabled
	{
		text-decoration : none !important;
	}
}

@import './includes/blocks/b-logotype';
@import './includes/blocks/b-search';
@import './includes/blocks/b-nav';
@import './includes/blocks/b-basket';
@import './includes/blocks/b-pagination';
@import './includes/blocks/b-form';
@import './includes/blocks/b-viewed_history';

@import './includes/blocks/reviews/b-review';
@import './includes/blocks/b-questions';
@import './includes/blocks/b-gallery.less';
@import './includes/blocks/b-product';
@import './includes/blocks/b-about';
@import './includes/blocks/b-article';
@import './includes/blocks/b-catalog';
@import './includes/blocks/b-comments';
@import './includes/blocks/b-shopping_cart';
@import './includes/blocks/b-prices';

.b-header
{
	@ns: ~'.b-header';
	.clearfix();
	border-bottom : 1px solid #E7E5E6;
	background    : #f8f4f1;
	margin-bottom : 5px;

	&-toolbar
	{
		background    : #2F2F2F;
		height        : 34px;
		line-height   : 32px;
		margin-bottom : 25px;
		font-family   : 'PTSansRegular';

		@{ns}-nav
		{
			color : #FFF;

			&-item
			{
				color     : inherit;
				font-size : 16px;
			}
		}
	}

	.b-contacts
	{
		font-family : 'PTSansRegular';
		width       : 300px;

		&-inner
		{
			margin : -9px -1px 0 0;
			float  : right;
		}

		&-item
		{
			font-family : 'PTSansBold';
			color       : #2F2F2F;
			font-size   : 18px;
			display     : block;
			margin-top  : 4px;
		}
		&-text
		{
			font-style : normal;
			color      : #6F6F6F;
			font-size  : 16px;
		}
	}

}

.b-page
{
	@ns: ~'.b-page';
	background : #fff;

	&-component
	{
		margin-top : 26px;

		.b-heading
		{
			margin-bottom : 16px;
		}
	}

	&-sidebar
	{
		padding-right : 0;
		margin-top    : 5px;
	}

	&-container
	{
		margin-top : 13px;
	}

	&-title
	{
		margin-bottom : 35px;
	}

	&__contacts
	{
		.b-heading
		{
			//			margin-top     : -8px;
			//			padding-bottom : 16px;
		}

		.b-contacts_data
		{
			border-top : 1px solid #E7E5E6;
			padding    : 35px 0 0;
			list-style : none;
			margin     : 20px 0 0;
			overflow   : hidden;

			> dt
			{
				clear         : both;
				color         : @brand-primary;
				margin-bottom : 17px;
				padding       : 0 0 0 45px;
				white-space   : nowrap;
				word-spacing  : -2px;

				._icon
				{
					margin-left : -43px;
					font-size   : 19px;
					float       : left;
				}
				._title
				{
					display        : block;
					position       : relative;
					text-transform : uppercase;
					color          : #363636; // text color
					font-family    : "PTSansBold", sans-serif;
					font-size      : 16px;
					font-weight    : bold;
				}
			}
			> dd
			{
				padding       : 0 25px 0 39px;
				margin-bottom : 17px;
				font-family   : 'PTSansRegular', sans-serif;
				margin-top    : -7px;
				color         : #6F6F6F;
				line-height   : 32px;
			}
		}

		.b-widget__maps
		{
			margin-bottom : -105px;
			margin-top    : 47px;
			height        : 462px;

			.b-widget-description
			{
				.size(270px, 300px);
				.rgba(#2f2f2f, 0.8);
				position   : absolute;
				top        : 40px;
				z-index    : 100;
				color      : #FFF;
				text-align : center;
				padding    : 30px 0 0;

				._icon
				{
					.square(35px);
					color       : @brand-primary;
					border      : 1px solid @brand-primary;
					.prefixr(border-radius, 35px);
					display     : block;
					margin      : 0 auto;
					font-size   : 21px;
					line-height : 40px;
				}

				address
				{
					font-family  : 'PTSansBold';
					line-height  : 34px;
					word-spacing : -2px;
					font-style   : normal;
					margin-top   : 10px;
				}

				.divider
				{
					border-top : 1px solid @brand-primary;
					width      : 40px;
					margin     : 11px auto 12px;
					display    : block;
				}
				em
				{
					font-style : normal;
				}
				._text
				{
					font-family : 'PTSansRegular', sans-serif;
					white-space : nowrap;
				}
			}

		}
	}

	.b-promoSlider
	{
		margin-top : 5px;
	}
}

.b-footer
{
	margin-top : 105px;
	background : #2F2F2F;
	height     : 290px;
	padding    : 34px 0 0;

	.b-logotype
	{
		width  : 323px;
		height : 65px;
	}

	.b-social
	{
		color       : #FFF;
		text-align  : center;
		white-space : nowrap;
		left        : -8px;
		width       : 217px;
		position    : relative;
		float       : right;
		top         : 3px;
		margin-left : -20px;

		.title
		{
			display        : block;
			text-align     : center;
			text-transform : uppercase;
			margin-bottom  : 9px;
			font-family    : 'PTSansBold';
		}

		&-list
		{
			list-style : none;
			padding    : 0;
			margin     : 0;
		}

		&-item
		{
			float        : left;
			margin-right : 5px;

			> a
			{
				background      : #717171;
				.square(38px);
				line-height     : 45px;
				font-size       : 24px;
				color           : #FFF;
				display         : block;
				text-decoration : none;

				&:hover
				{
					background : @brand-primary;
				}
			}
		}
	}
}

.font-include('PTSansBold', '../fonts/PT_Sans/pt_sans-web-bold-webfont');
.font-include('PTSansRegular', '../fonts/PT_Sans/pt_sans-web-regular-webfont');
.font-include('OpenSansRegular', '../fonts/OpenSans/opensans-condlight-webfont');
.font-include('OpenSansBold', '../fonts/OpenSans/opensans-condbold-webfont');

/// ----------------------------
/// -- third party components --
/// ----------------------------

/// -- jqzoom --
.zoomPad
{
	background : #FFF;
	z-index    : 200;
}

.arcticmodal
{
	&-overlay,
	&-container
	{
		position : fixed;
		left     : 0;
		top      : 0;
		right    : 0;
		bottom   : 0;
		z-index  : 1000;
	}

	&-overlay
	{
		.rgba(#2f2f2f, 0.9)
	}
	&-container
	{
		overflow        : auto;
		margin          : 0;
		padding         : 0;
		border          : 0;
		border-collapse : collapse;
	}
	*:first-child + html &-container
	{
		height : 100%
	}
	&-container_i
	{
		height : 100%;
		margin : 0 auto;
	}
	&-container_i2
	{
		padding        : 24px;
		margin         : 0;
		border         : 0;
		vertical-align : middle;
	}
	&-error
	{
		padding       : 20px;
		border-radius : 10px;
		background    : #000;
		color         : #FFF;
	}
	&-loading
	{
		width         : 80px;
		height        : 80px;
		border-radius : 10px;
		background    : #000 url(~'@{images_path}loading.gif') no-repeat 50% 50%;
	}
}

/* ---- popup window ----*/

.b-popup
{
	@ns: ~'.b-popup';

	background : #FAFAFA;
	z-index    : 1000;
	position   : relative;
	padding    : 34px;

	width      : 80%;
	max-width  : 500px;

	&-close
	{
		.fa-icon;
		color           : @brand-danger;
		font-size       : 16px;
		position        : absolute;
		right           : 20px;
		top             : 20px;
		text-decoration : none !important;

		&:before
		{
			content : @fa-var-close;
		}

		&:hover
		{
			color : darken(@brand-danger, 15%);
		}
	}

	&-body
	{
		margin-top : 30px;
	}
	&-footer
	{
		margin-top  : 15px;
		padding-top : 25px;
		border-top  : 1px solid #ECEAEB;
	}

	// Popups names
	&__authorization
	{
		width         : 670px;
		max-width     : none;
		padding-left  : 70px;
		padding-right : 70px;

		@{ns}-body
		{
			margin-top : 40px;
		}

		.b-social
		{
			position     : relative;
			margin-right : 45px;
			float        : left;

			.title
			{
				color          : #333;
				text-transform : uppercase;
				display        : block;
				margin-bottom  : 15px;
				padding-left   : 5px;
				font-family    : 'PTSansBold';
			}

			&-list
			{
				list-style : none;
				padding    : 0;
				margin     : 0;
			}

			&-item
			{
				float        : left;
				margin-right : 5px;

				> a
				{
					background      : #ECECEC;
					.square(38px);
					line-height     : 45px;
					font-size       : 24px;
					color           : #A3A2A2;
					display         : block;
					text-decoration : none;
					text-align      : center;

					&:hover
					{
						background : darken(#ECECEC, 10%);
					}
				}
			}
		}

		.additional_links
		{
			line-height : 32px;
			margin-top  : -8px;
		}
	}

	&__sizes
	{
		max-width : none;

		.container();

		._decoration
		{
			margin-top : -25px;
			position   : relative;

			&-body_points
			{
				list-style : none;
				padding    : 0;
				margin     : 0;
				position   : absolute;
				top        : 125px;
				left       : -15px;

				&-item
				{
					width          : 277px;
					height         : 30px;
					line-height    : 30px;
					font-family    : PTSansBold;
					font-size      : 14px;
					text-transform : uppercase;
					background     : url(~'@{images_path}gray_line.png') 0 0 no-repeat;
					padding-left   : 110px;
					margin-bottom  : 21px;
					color          : #FFF;

					&:first-child + li
					{
						margin-bottom : 32px;
					}
				}
			}
		}

		table
		{
			border : 2px solid #D6D6D6;
			thead th
			{
				background          : #F8F4F1;
				color               : #2F2F2F;
				border-bottom-width : 1px;
				padding             : 19px 10px;
				line-height         : 24px;

			}

			tbody td
			{
				color       : #717171;
				font-family : PTSansBold;
				padding     : 4px;
			}
		}
		.description
		{
			p
			{
				margin-top : 30px;
			}
		}
	}

}
