/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@b-icon-answer-name: b-icon__answer;
@b-icon-answer-x: 0px;
@b-icon-answer-y: 222px;
@b-icon-answer-offset-x: 0px;
@b-icon-answer-offset-y: -222px;
@b-icon-answer-width: 30px;
@b-icon-answer-height: 30px;
@b-icon-answer-total-width: 122px;
@b-icon-answer-total-height: 1323px;
@b-icon-answer-image: '../i/bg/sprite.png';
@b-icon-answer: 0px 222px 0px -222px 30px 30px 122px 1323px '../i/bg/sprite.png' b-icon__answer;
@b-icon-arrow-left-name: b-icon__arrow-left;
@b-icon-arrow-left-x: 0px;
@b-icon-arrow-left-y: 197px;
@b-icon-arrow-left-offset-x: 0px;
@b-icon-arrow-left-offset-y: -197px;
@b-icon-arrow-left-width: 13px;
@b-icon-arrow-left-height: 25px;
@b-icon-arrow-left-total-width: 122px;
@b-icon-arrow-left-total-height: 1323px;
@b-icon-arrow-left-image: '../i/bg/sprite.png';
@b-icon-arrow-left: 0px 197px 0px -197px 13px 25px 122px 1323px '../i/bg/sprite.png' b-icon__arrow-left;
@b-icon-arrow-left-gray-name: b-icon__arrow-left__gray;
@b-icon-arrow-left-gray-x: 0px;
@b-icon-arrow-left-gray-y: 122px;
@b-icon-arrow-left-gray-offset-x: 0px;
@b-icon-arrow-left-gray-offset-y: -122px;
@b-icon-arrow-left-gray-width: 13px;
@b-icon-arrow-left-gray-height: 25px;
@b-icon-arrow-left-gray-total-width: 122px;
@b-icon-arrow-left-gray-total-height: 1323px;
@b-icon-arrow-left-gray-image: '../i/bg/sprite.png';
@b-icon-arrow-left-gray: 0px 122px 0px -122px 13px 25px 122px 1323px '../i/bg/sprite.png' b-icon__arrow-left__gray;
@b-icon-arrow-right-name: b-icon__arrow-right;
@b-icon-arrow-right-x: 0px;
@b-icon-arrow-right-y: 172px;
@b-icon-arrow-right-offset-x: 0px;
@b-icon-arrow-right-offset-y: -172px;
@b-icon-arrow-right-width: 13px;
@b-icon-arrow-right-height: 25px;
@b-icon-arrow-right-total-width: 122px;
@b-icon-arrow-right-total-height: 1323px;
@b-icon-arrow-right-image: '../i/bg/sprite.png';
@b-icon-arrow-right: 0px 172px 0px -172px 13px 25px 122px 1323px '../i/bg/sprite.png' b-icon__arrow-right;
@b-icon-arrow-right-gray-name: b-icon__arrow-right__gray;
@b-icon-arrow-right-gray-x: 0px;
@b-icon-arrow-right-gray-y: 147px;
@b-icon-arrow-right-gray-offset-x: 0px;
@b-icon-arrow-right-gray-offset-y: -147px;
@b-icon-arrow-right-gray-width: 13px;
@b-icon-arrow-right-gray-height: 25px;
@b-icon-arrow-right-gray-total-width: 122px;
@b-icon-arrow-right-gray-total-height: 1323px;
@b-icon-arrow-right-gray-image: '../i/bg/sprite.png';
@b-icon-arrow-right-gray: 0px 147px 0px -147px 13px 25px 122px 1323px '../i/bg/sprite.png' b-icon__arrow-right__gray;
@b-icon-bank-card-circle-name: b-icon__bank_card__circle;
@b-icon-bank-card-circle-x: 0px;
@b-icon-bank-card-circle-y: 1079px;
@b-icon-bank-card-circle-offset-x: 0px;
@b-icon-bank-card-circle-offset-y: -1079px;
@b-icon-bank-card-circle-width: 122px;
@b-icon-bank-card-circle-height: 122px;
@b-icon-bank-card-circle-total-width: 122px;
@b-icon-bank-card-circle-total-height: 1323px;
@b-icon-bank-card-circle-image: '../i/bg/sprite.png';
@b-icon-bank-card-circle: 0px 1079px 0px -1079px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__bank_card__circle;
@b-icon-banknote-circle-name: b-icon__banknote__circle;
@b-icon-banknote-circle-x: 0px;
@b-icon-banknote-circle-y: 957px;
@b-icon-banknote-circle-offset-x: 0px;
@b-icon-banknote-circle-offset-y: -957px;
@b-icon-banknote-circle-width: 122px;
@b-icon-banknote-circle-height: 122px;
@b-icon-banknote-circle-total-width: 122px;
@b-icon-banknote-circle-total-height: 1323px;
@b-icon-banknote-circle-image: '../i/bg/sprite.png';
@b-icon-banknote-circle: 0px 957px 0px -957px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__banknote__circle;
@b-icon-hammer-circle-name: b-icon__hammer__circle;
@b-icon-hammer-circle-x: 0px;
@b-icon-hammer-circle-y: 835px;
@b-icon-hammer-circle-offset-x: 0px;
@b-icon-hammer-circle-offset-y: -835px;
@b-icon-hammer-circle-width: 122px;
@b-icon-hammer-circle-height: 122px;
@b-icon-hammer-circle-total-width: 122px;
@b-icon-hammer-circle-total-height: 1323px;
@b-icon-hammer-circle-image: '../i/bg/sprite.png';
@b-icon-hammer-circle: 0px 835px 0px -835px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__hammer__circle;
@b-icon-header-cart-name: b-icon__header_cart;
@b-icon-header-cart-x: 0px;
@b-icon-header-cart-y: 43px;
@b-icon-header-cart-offset-x: 0px;
@b-icon-header-cart-offset-y: -43px;
@b-icon-header-cart-width: 19px;
@b-icon-header-cart-height: 17px;
@b-icon-header-cart-total-width: 122px;
@b-icon-header-cart-total-height: 1323px;
@b-icon-header-cart-image: '../i/bg/sprite.png';
@b-icon-header-cart: 0px 43px 0px -43px 19px 17px 122px 1323px '../i/bg/sprite.png' b-icon__header_cart;
@b-icon-mastercard-circle-name: b-icon__mastercard__circle;
@b-icon-mastercard-circle-x: 0px;
@b-icon-mastercard-circle-y: 591px;
@b-icon-mastercard-circle-offset-x: 0px;
@b-icon-mastercard-circle-offset-y: -591px;
@b-icon-mastercard-circle-width: 122px;
@b-icon-mastercard-circle-height: 122px;
@b-icon-mastercard-circle-total-width: 122px;
@b-icon-mastercard-circle-total-height: 1323px;
@b-icon-mastercard-circle-image: '../i/bg/sprite.png';
@b-icon-mastercard-circle: 0px 591px 0px -591px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__mastercard__circle;
@b-icon-needle-circle-name: b-icon__needle__circle;
@b-icon-needle-circle-x: 0px;
@b-icon-needle-circle-y: 469px;
@b-icon-needle-circle-offset-x: 0px;
@b-icon-needle-circle-offset-y: -469px;
@b-icon-needle-circle-width: 122px;
@b-icon-needle-circle-height: 122px;
@b-icon-needle-circle-total-width: 122px;
@b-icon-needle-circle-total-height: 1323px;
@b-icon-needle-circle-image: '../i/bg/sprite.png';
@b-icon-needle-circle: 0px 469px 0px -469px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__needle__circle;
@b-icon-odnoklassniki-name: b-icon__odnoklassniki;
@b-icon-odnoklassniki-x: 0px;
@b-icon-odnoklassniki-y: 80px;
@b-icon-odnoklassniki-offset-x: 0px;
@b-icon-odnoklassniki-offset-y: -80px;
@b-icon-odnoklassniki-width: 13px;
@b-icon-odnoklassniki-height: 21px;
@b-icon-odnoklassniki-total-width: 122px;
@b-icon-odnoklassniki-total-height: 1323px;
@b-icon-odnoklassniki-image: '../i/bg/sprite.png';
@b-icon-odnoklassniki: 0px 80px 0px -80px 13px 21px 122px 1323px '../i/bg/sprite.png' b-icon__odnoklassniki;
@b-icon-odnoklassniki-gray-name: b-icon__odnoklassniki__gray;
@b-icon-odnoklassniki-gray-x: 0px;
@b-icon-odnoklassniki-gray-y: 101px;
@b-icon-odnoklassniki-gray-offset-x: 0px;
@b-icon-odnoklassniki-gray-offset-y: -101px;
@b-icon-odnoklassniki-gray-width: 13px;
@b-icon-odnoklassniki-gray-height: 21px;
@b-icon-odnoklassniki-gray-total-width: 122px;
@b-icon-odnoklassniki-gray-total-height: 1323px;
@b-icon-odnoklassniki-gray-image: '../i/bg/sprite.png';
@b-icon-odnoklassniki-gray: 0px 101px 0px -101px 13px 21px 122px 1323px '../i/bg/sprite.png' b-icon__odnoklassniki__gray;
@b-icon-percent-circle-name: b-icon__percent__circle;
@b-icon-percent-circle-x: 0px;
@b-icon-percent-circle-y: 347px;
@b-icon-percent-circle-offset-x: 0px;
@b-icon-percent-circle-offset-y: -347px;
@b-icon-percent-circle-width: 122px;
@b-icon-percent-circle-height: 122px;
@b-icon-percent-circle-total-width: 122px;
@b-icon-percent-circle-total-height: 1323px;
@b-icon-percent-circle-image: '../i/bg/sprite.png';
@b-icon-percent-circle: 0px 347px 0px -347px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__percent__circle;
@b-icon-phone-name: b-icon__phone;
@b-icon-phone-x: 0px;
@b-icon-phone-y: 282px;
@b-icon-phone-offset-x: 0px;
@b-icon-phone-offset-y: -282px;
@b-icon-phone-width: 75px;
@b-icon-phone-height: 65px;
@b-icon-phone-total-width: 122px;
@b-icon-phone-total-height: 1323px;
@b-icon-phone-image: '../i/bg/sprite.png';
@b-icon-phone: 0px 282px 0px -282px 75px 65px 122px 1323px '../i/bg/sprite.png' b-icon__phone;
@b-icon-question-name: b-icon__question;
@b-icon-question-x: 0px;
@b-icon-question-y: 252px;
@b-icon-question-offset-x: 0px;
@b-icon-question-offset-y: -252px;
@b-icon-question-width: 30px;
@b-icon-question-height: 30px;
@b-icon-question-total-width: 122px;
@b-icon-question-total-height: 1323px;
@b-icon-question-image: '../i/bg/sprite.png';
@b-icon-question: 0px 252px 0px -252px 30px 30px 122px 1323px '../i/bg/sprite.png' b-icon__question;
@b-icon-search-name: b-icon__search;
@b-icon-search-x: 0px;
@b-icon-search-y: 27px;
@b-icon-search-offset-x: 0px;
@b-icon-search-offset-y: -27px;
@b-icon-search-width: 15px;
@b-icon-search-height: 16px;
@b-icon-search-total-width: 122px;
@b-icon-search-total-height: 1323px;
@b-icon-search-image: '../i/bg/sprite.png';
@b-icon-search: 0px 27px 0px -27px 15px 16px 122px 1323px '../i/bg/sprite.png' b-icon__search;
@b-icon-three-circle-name: b-icon__three__circle;
@b-icon-three-circle-x: 0px;
@b-icon-three-circle-y: 713px;
@b-icon-three-circle-offset-x: 0px;
@b-icon-three-circle-offset-y: -713px;
@b-icon-three-circle-width: 122px;
@b-icon-three-circle-height: 122px;
@b-icon-three-circle-total-width: 122px;
@b-icon-three-circle-total-height: 1323px;
@b-icon-three-circle-image: '../i/bg/sprite.png';
@b-icon-three-circle: 0px 713px 0px -713px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__three__circle;
@b-icon-triangle-down-name: b-icon__triangle_down;
@b-icon-triangle-down-x: 0px;
@b-icon-triangle-down-y: 0px;
@b-icon-triangle-down-offset-x: 0px;
@b-icon-triangle-down-offset-y: 0px;
@b-icon-triangle-down-width: 24px;
@b-icon-triangle-down-height: 12px;
@b-icon-triangle-down-total-width: 122px;
@b-icon-triangle-down-total-height: 1323px;
@b-icon-triangle-down-image: '../i/bg/sprite.png';
@b-icon-triangle-down: 0px 0px 0px 0px 24px 12px 122px 1323px '../i/bg/sprite.png' b-icon__triangle_down;
@b-icon-triangle-down-peach-name: b-icon__triangle_down__peach;
@b-icon-triangle-down-peach-x: 0px;
@b-icon-triangle-down-peach-y: 12px;
@b-icon-triangle-down-peach-offset-x: 0px;
@b-icon-triangle-down-peach-offset-y: -12px;
@b-icon-triangle-down-peach-width: 30px;
@b-icon-triangle-down-peach-height: 15px;
@b-icon-triangle-down-peach-total-width: 122px;
@b-icon-triangle-down-peach-total-height: 1323px;
@b-icon-triangle-down-peach-image: '../i/bg/sprite.png';
@b-icon-triangle-down-peach: 0px 12px 0px -12px 30px 15px 122px 1323px '../i/bg/sprite.png' b-icon__triangle_down__peach;
@b-icon-triangle-down-bordered-name: b-icon__triangle_down_bordered;
@b-icon-triangle-down-bordered-x: 0px;
@b-icon-triangle-down-bordered-y: 60px;
@b-icon-triangle-down-bordered-offset-x: 0px;
@b-icon-triangle-down-bordered-offset-y: -60px;
@b-icon-triangle-down-bordered-width: 31px;
@b-icon-triangle-down-bordered-height: 20px;
@b-icon-triangle-down-bordered-total-width: 122px;
@b-icon-triangle-down-bordered-total-height: 1323px;
@b-icon-triangle-down-bordered-image: '../i/bg/sprite.png';
@b-icon-triangle-down-bordered: 0px 60px 0px -60px 31px 20px 122px 1323px '../i/bg/sprite.png' b-icon__triangle_down_bordered;
@b-icon-visa-circle-name: b-icon__visa__circle;
@b-icon-visa-circle-x: 0px;
@b-icon-visa-circle-y: 1201px;
@b-icon-visa-circle-offset-x: 0px;
@b-icon-visa-circle-offset-y: -1201px;
@b-icon-visa-circle-width: 122px;
@b-icon-visa-circle-height: 122px;
@b-icon-visa-circle-total-width: 122px;
@b-icon-visa-circle-total-height: 1323px;
@b-icon-visa-circle-image: '../i/bg/sprite.png';
@b-icon-visa-circle: 0px 1201px 0px -1201px 122px 122px 122px 1323px '../i/bg/sprite.png' b-icon__visa__circle;
@spritesheet-width: 122px;
@spritesheet-height: 1323px;
@spritesheet-image: '../i/bg/sprite.png';
@spritesheet-sprites: @b-icon-answer @b-icon-arrow-left @b-icon-arrow-left-gray @b-icon-arrow-right @b-icon-arrow-right-gray @b-icon-bank-card-circle @b-icon-banknote-circle @b-icon-hammer-circle @b-icon-header-cart @b-icon-mastercard-circle @b-icon-needle-circle @b-icon-odnoklassniki @b-icon-odnoklassniki-gray @b-icon-percent-circle @b-icon-phone @b-icon-question @b-icon-search @b-icon-three-circle @b-icon-triangle-down @b-icon-triangle-down-peach @b-icon-triangle-down-bordered @b-icon-visa-circle;
@spritesheet: 122px 1323px '../i/bg/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  &.@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
