<form class="b-form b-form__faq" action="">
	<div class="b-form-title"><span>Задайте вопрос</span></div>
	<div class="b-form-row">
		<label class="b-form-textarea">
			<textarea placeholder="Сообщение" name="message" id="message"></textarea>
		</label>
	</div>
	<button class="b-form-button f-right">Отправить</button>
</form>
