<form class="b-form b-form__product-comment" action="">
	<div class="b-form-title"><span>Оставьте комментарий</span></div>
	<div class="b-form-row">
		<div class="row">
			<div class="form-group col-xs-6">
				<label for="NAME" class="b-form-label b-form-label__icon">
					<i class="b-form-icon fa fa-user b-form-control-icon"></i>
					<input type="text" placeholder="Имя" name="NAME" class="b-form-control" id="NAME"/>
				</label>
			</div>
			<div class="form-group col-xs-6">
				<label for="EMAIL" class="b-form-label b-form-label__icon">
					<i class="b-form-icon fa fa-envelope b-form-control-icon"></i>
					<input type="text" placeholder="E-mail" name="EMAIL" class="b-form-control" id="EMAIL"/>
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="b-form-textarea">
				<textarea placeholder="Сообщение" name="message" id="message"></textarea>
			</label>
		</div>
	</div>
	<div class="b-form-row">
		<div class="row">
			<div class="form-group form-divider captcha-group col-xs-6">
				<div class="b-form-label text-left">
					<label class="control-label" for="CAPTCHA">Введите данные с картинки</label>
				</div>
				<div class="b-form-control-inner row">
					<div class="col-xs-6">
						<img src="i/src/captcha.jpg" alt=""/>
					</div>
					<div class="col-xs-6">
						<input type="text" class="form-control" id="CAPTCHA">
					</div>
				</div>
			</div>
			<div class="form-group col-xs-6 margin-top__30">
				<a class="a-link-reverse text-primary" href="#">Войти по Open ID</a>

				<div class="b-form-label pull-right">
					<label class="js-checkbox b-form-checkbox" for="AGREE">
						<span class="e-checkbox">
							<input type="checkbox" name="AGREE" value="1" id="AGREE"/>
							<i class="fa fa-check checkbox-icon"></i>
						</span>
						<small>присылать новости о скидках и акциях</small>
					</label>
				</div>
			</div>
			<div class="col-xs-4 f-right">
				<button class="b-form-button f-right">Отправить</button>
			</div>
		</div>
	</div>
</form>
