<div class="b-popup b-popup__authorization">
	<a class="arcticmodal-close b-popup-close" href="javascript:;"></a>
	<div class="b-popup-name b-heading">
		<span>Авторизация</span>
	</div>
	<div class="b-popup-body">
		<form class="b-form b-form__inline b-form__auth">
			<div class="row">
				<div class="form-group col-xs-6">
					<label for="EMAIL" class="b-form-label b-form-label__icon">
						<i class="b-form-icon fa fa-envelope b-form-control-icon"></i>
						<input type="text" placeholder="E-mail" name="EMAIL" class="b-form-control" id="EMAIL"/>
					</label>
				</div>
				<div class="form-group col-xs-6">
					<label for="PASSWORD" class="b-form-label b-form-label__icon">
						<i class="b-form-icon fa fa-lock b-form-control-icon"></i>
						<input type="password" placeholder="Пароль" name="PASSWORD" class="b-form-control" id="PASSWORD"/>
					</label>
				</div>
			</div>
			<div class="cleafix">
				<button type="submit" class="f-left b-form-button">Войти</button>
				<div class="b-form-label f-left margin-top__10">
					<label class="js-checkbox b-form-checkbox" for="REMEMBER">
							<span class="e-checkbox">
								<input type="checkbox" name="REMEMBER" value="1" id="REMEMBER"/>
								<i class="fa fa-check checkbox-icon"></i>
							</span>
						Запомнить меня
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="b-popup-footer clearfix">
		<div class="b-social">
			<b class="title">Войти через социальные сети</b>
			<ul class="b-social-list">
				<li class="b-social-item">
					<a href="#">
						<i class="fa fa-vk"></i>
					</a>
				</li>
				<li class="b-social-item">
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li class="b-social-item">
					<a href="#">
						<i class="fa fa-instagram"></i>
					</a>
				</li>
				<li class="b-social-item">
					<a href="#">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
				<li class="b-social-item">
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li class="b-social-item">
					<a href="#">
						<i class="b-icon b-icon__odnoklassniki__gray"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="f-left additional_links">
			<a class="a-link-reverse text-primary inline-block margin-top__10" href="#">Регистрация</a>
			<br/>

			<a class="a-link-reverse text-primary inline-block margin-top__10" href="#">Восстановление пароля</a>
			<br/>

			<a class="a-link-reverse text-primary inline-block margin-top__10" href="#">Политика конфиденциальности</a>
			<br/>
		</div>
	</div>
</div>
