<div class="b-popup b-popup__sizes">
	<a class="arcticmodal-close b-popup-close" href="javascript:;"></a>
	<div class="b-popup-name b-heading clearfix">
		<div class="col-sm-9 col-sm-offset-3">
			<span>Размеры женской одежды</span>
		</div>
	</div>
	<div class="b-popup-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="_decoration">
					<img src="i/src/lady__gray.png" alt="" class="_image"/>
					<ul class="_decoration-body_points">
						<li class="_decoration-body_points-item">Обхват груди</li>
						<li class="_decoration-body_points-item">Обхват талии</li>
						<li class="_decoration-body_points-item">Обхват бедер</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-9">
				<table class="table table-bordered text-center">
					<thead>
						<tr>
							<th class="text-uppercase text-bold text-center">Российский размер</th>
							<th class="text-uppercase text-bold text-center">Обхват груди (СМ)</th>
							<th class="text-uppercase text-bold text-center">Обхват талии (СМ)</th>
							<th class="text-uppercase text-bold text-center">Обхват бедер (СМ)</th>
							<th class="text-uppercase text-bold text-center">Международный размер</th>
							<th class="text-uppercase text-bold text-center">Европейский размер</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>38</td>
							<td>76</td>
							<td>60</td>
							<td>84</td>
							<td>2XS</td>
							<td>32</td>
						</tr>
						<tr>
							<td>40</td>
							<td>80</td>
							<td>64</td>
							<td>88</td>
							<td>2XS-XS</td>
							<td>34</td>
						</tr>
						<tr>
							<td>42</td>
							<td>84</td>
							<td>68</td>
							<td>92</td>
							<td>XS-S</td>
							<td>36</td>
						</tr>
						<tr>
							<td>44</td>
							<td>88</td>
							<td>72</td>
							<td>96</td>
							<td>S</td>
							<td>38</td>
						</tr>
						<tr>
							<td>46</td>
							<td>92</td>
							<td>76</td>
							<td>100</td>
							<td>M</td>
							<td>40</td>
						</tr>
						<tr>
							<td>48</td>
							<td>96</td>
							<td>80</td>
							<td>104</td>
							<td>L</td>
							<td>42</td>
						</tr>
						<tr>
							<td>50</td>
							<td>100</td>
							<td>84</td>
							<td>108</td>
							<td>L-XL</td>
							<td>44</td>
						</tr>
						<tr>
							<td>52</td>
							<td>104</td>
							<td>88</td>
							<td>112</td>
							<td>XL-2XL</td>
							<td>46</td>
						</tr>
						<tr>
							<td>54</td>
							<td>110</td>
							<td>94</td>
							<td>117</td>
							<td>2XL-3XL</td>
							<td>48</td>
						</tr>
						<tr>
							<td>56</td>
							<td>116</td>
							<td>100</td>
							<td>122</td>
							<td>3XL</td>
							<td>50</td>
						</tr>
					</tbody>
				</table>

				<div class="description">
					<p>
						Снимать мерки рекомендуется в облегающей одежде и босиком. Вам понадобится измерительная
						лента и немного
						терпения.
						При измерении нужно держать спину прямо, лента при этом должна быть параллельна полу.
					</p>
					<p>
						<strong class="text-bold">Обхват груди</strong>
						измеряется по самому выступающему месту груди спереди и по нижнему краю лопаток сзади. <br/>

						<strong class="text-bold">Обхват талии</strong>
						— по самой узкой части талии. <br/>

						<strong class="text-bold">Обхват бёдер</strong>
						— по самым широким местам бёдер и ягодиц. <br/>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
