<div class="b-pagination">
	<div class="row">
		<div class="col-sm-6 ">
			<ul class="pagination">
				<li class="active">
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">6</a>
				</li>
				<li>
					<a href="#">7</a>
				</li>
				<li>
					<a href="#">8</a>
				</li>
				<li>
					<a href="#">9</a>
				</li>
				<li>
					<a href="#">&raquo</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="pagination f-right">
				<li>
					<span>Показывать по:</span>
				</li>
				<li>
					<a href="#" class="a-link-disabled">16</a>
				</li>
				<li>
					<a href="#" class="a-link-disabled">40</a>
				</li>
				<li>
					<a href="#" class="a-link-disabled">100</a>
				</li>
				<li>
					<a href="#" class="a-link-disabled">200</a>
				</li>
			</ul>
		</div>
	</div>
</div>
