<div class="b-pagination">
	<ul class="pagination">
		<li class="active">
			<a href="#">1</a>
		</li>
		<li>
			<a href="#">2</a>
		</li>
		<li>
			<a href="#">3</a>
		</li>
		<li>
			<a href="#">4</a>
		</li>
		<li>
			<a href="#">5</a>
		</li>
		<li>
			<a href="#">6</a>
		</li>
		<li>
			<a href="#">7</a>
		</li>
		<li>
			<a href="#">8</a>
		</li>
		<li>
			<a href="#">9</a>
		</li>
		<li>
			<a href="#">&raquo</a>
		</li>
	</ul>
</div>
